     <tr>
        <% if remote %>
          <td><%= link_to "#{drug.name}", drug, remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %> </td>
        <% else %>
	  <td><%= link_to drug.name, drug %> </td>
        <% end %>

	<td><%= drug.dnum %> </td> 
	<td><%= drug.strength %></td> 
	<td><%= drug.dose %></td> 
	<td><%= drug.freq %></td> 
	<td><%= drug.amount %></td> 
	<td><%= drug.status %></td> 
	<td><%= drug.generic %></td> 
	<td><%= drug.igcodes %></td> 
	<td><%= drug.format %></td> 
	<td><%= drug.route %></td> 
	<td><%= drug.dur_cnt %></td> 
	<td><%= drug.dur_unit %></td> 
	<td><%= drug.refills %></td> 
	<td><%= drug.dtype %></td> 
	<% unless current_user.doctor? %>
        <td>
        <% if remote %>
          <%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_drug_path(drug), remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %>
        <% else %>
          <%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_drug_path(drug) %>
        <% end %>
        </td>
        <% end %>

  	<% if current_user.admin?  %>
		<td> <%= link_to '<i class="glyphicon glyphicon-remove-sign"></i>'.html_safe, drug, method: :delete, data: { confirm: "Are you sure you want to delete #{drug.name}?" } %> </td>
	<% end %>
     </tr>





