<div class="well">
<%= simple_form_for @drug do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">
  <div class="col-sm-6">
  <%= f.input :name, hint: 'Required' %>
  <%= f.input :dose, hint: 'Required' %>
  <%= f.input :strength, hint: 'Required' %>
  <%= f.input :dur_cnt, label: 'Duration Count' %>
  <%= f.input :amount %>
  <%= f.input :status %>
  <%# f.input :dnum %>
  <%= f.input :generic, label: "Generic Name" %>
  </div>
  
  <div class="col-sm-6">
  <%# f.input :igcodes %>
  <%= f.input :format, hint: 'Required' %>
  <%= f.input :route, hint: 'Required' %>
  <%= f.input :freq, hint: 'Required' %>
  <%= f.input :dur_unit, label: 'Duration Unit' %>
  <%= f.input :refills %>
  <%= f.input :dtype, label: 'Type' %>
  <%= f.input :cost %>
  </div>

  <div class="col-sm-12">
  <%= f.input :instructions, placeholder: 'Instructions', label: false %>
  <%= f.input :notes, placeholder: 'Notes', label: false %>
  <% unless action_name == 'show' %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
  </div>
  </div>

<% end %>
</div>

