<div class="well">
<%= simple_form_for @drug do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">
  <div class="col-sm-6">
  <%= f.input :name, hint: 'Required' %>
  <%= f.input :dose, hint: 'Required' %>
  <%= f.input :strength, hint: 'Required', placeholder: 'g/mg/ml/u/%..' %>
  <%= f.input :generic, label: "Generic Name" %>
  <%= f.input :dur_cnt, label: 'Duration Count' %>
  <%= f.input :cost, label: 'Price' %>
  </div>
  
  <div class="col-sm-6">
  <%= f.input :format, hint: 'Required', placeholder: 'Tab/Cap, Injectable, Cream, Patch ..' %>
  <%= f.input :route, hint: 'Required' %>
  <%= f.input :freq, hint: 'Required', placeholder: 'bid/tid/qid.. 4/day..' %>
  <%= f.input :amount, label: 'Total Number'%>
  <%= f.input :dur_unit, label: 'Duration Unit', placeholder: 'Dy/Wk/Mo/Yr' %>
  <%= f.input :refills %>
  </div>

  <div class="col-sm-12">
  <%= f.input :instructions, placeholder: 'Instructions', label: false %>
  <%= f.input :notes, placeholder: 'Notes', label: false %>
  <% unless action_name == 'show' %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
  </div>
  </div>

<% end %>
</div>

