<div class="well">
<%= simple_form_for @drug do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">
  <div class="col-sm-6">
  <%= f.input :name, hint: 'Required' %>
  <%= f.input :dose, hint: 'Required' %>
  <%= f.input :strength, hint: 'Required', placeholder: 'g/mg/ml/u/%..' %>
  <%= f.input :generic, label: "Generic Name" %>
  <%= f.input :dur_cnt, label: 'Duration Count' %>
  <%= f.input :cost, label: 'Price' %>
  </div>
  
  <div class="col-sm-6">
  <%= f.input :format, collection: DRUG_FORMATS, label_method: :first, value_method: :first, hint: 'Required', include_blank: 'Please Select' %>
  <%= f.input :route, collection: DRUG_ROUTES, label_method: :first, value_method: :first, hint: 'Required', include_blank: 'Please Select' %>
  <%= f.input :freq, collection: MedFrequency.all, label_method: :name, value_method: :name, hint: 'Required', include_blank: 'Please Select' %>
  <%= f.input :amount %>
  <%= f.input :dur_unit, collection: DRUG_DUR_UNITS, label_method: :first, value_method: :first, include_blank: 'Please Select', label: 'Duration Unit' %>
  <%= f.input :refills %>
  </div>

  <div class="col-sm-12">
  <%= f.input :instructions, placeholder: 'Instructions', label: false %>
  <%= f.input :notes, placeholder: 'Notes', label: false %>
  <% unless action_name == 'show' %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
  </div>
  </div>

<% end %>
</div>

