<% noedit ||= false %>
<div class="well">
<%= simple_form_for @drug do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">
  <div class="col-sm-6">
  <%= f.input :name %>
  <%= f.input :dnum %>
  <%= f.input :strength %>
  <%= f.input :dose %>
  <%= f.input :freq %>
  <%= f.input :amount %>
  <%= f.input :status %>
  <%= f.input :generic %>
  </div>
  
  <div class="col-sm-6">
  <%= f.input :igcodes %>
  <%= f.input :format %>
  <%= f.input :route %>
  <%= f.input :dur_cnt, label: 'Duration Count' %>
  <%= f.input :dur_unit, label: 'Duration Unit' %>
  <%= f.input :refills %>
  <%= f.input :dtype, label: 'Type' %>
  <%= f.input :cost %>
  </div>

  <div class="col-sm-12">
  <%= f.input :instructions, placeholder: 'Instructions', label: false %>
  <%= f.input :notes, placeholder: 'Notes', label: false %>
  <% unless noedit %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
  </div>
  </div>

<% end %>
</div>

