<% provide(:title, @drug.name) %>
<%= render "shared/modal" %>

	<h1>Medication:  <%= @drug.name %> - details  </h1>

<div class="row justify-content-md-center">
  <div class="col-md-6 col-md-offset-3">
     <pre>
	Generic name: <%= @drug.generic %>
	Strength:     <%= @drug.strength %>
	Dose:         <%= @drug.dose %>
	Frequency:    <%= @drug.freq %>
	Amount:       <%= @drug.amount %>
	Format:       <%= @drug.format %>
	Route:        <%= @drug.route %>
	Dur. Cnt:     <%= @drug.dur_cnt %>
	Dur. Unit:    <%= @drug.dur_unit %>
	Refills:      <%= @drug.refills %>
	Price:        <%= @drug.cost %>
	Instructions: <%= @drug.instructions %>
	Notes:        <%= @drug.notes %>
    </pre>

    <% unless current_user.doctor? %>
    <%= button_to "Edit", edit_drug_path(@drug), class: "btn btn-primary", method: :get %>
    <% end %>
    <p>
    <%= button_to "Back", drugs_path, class: "btn btn-primary", method: :get %>
  </div>
</div>


