<% noedit ||= false %>
<div class="well">
<%= simple_form_for @provider do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<div class="row">
  <%= f.input :name %>
  <%= f.input :addr1 %>
  <%= f.input :addr2 %>
  <%= f.input :city %>
  <%= f.input :prov, collection: PROVINCES  %>
  <%= f.input :postal %>
  <%= f.input :phone1, label: 'Phone Number 1' %>
  <%= f.input :phone2, label: 'Phone Number 2' %>
  <%= f.input :fax %>
  <%= f.input :email %>
  <% unless noedit %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
</div>

<% end %>
</div>
