<div class="pt-2 d-flex justify-content-center">
<div class="card text-white bg-primary col-md-6 col-sm-12">
  <div class="card-header m-3 pt-3 ">
  <font size=5><i class="bi bi-question-circle"></i> &nbsp; AI MED. EXPERT CHAT</font>
  </div>
  <div class="card-body card-info">
    <div class="card-text"> Got medical question? You can ask me anything in any language. </b></div>
  <p class="card-text">

  <% @patient ||= Patient.new %>
    <%= simple_form_for @patient, url: static_pages_ai_chat_path, method: :post  do |f| %>
    <%= f.input :question, label: false, placeholder: "Type your question here", class: "form-control col-md-2" %>
    <div class="pt-3"></div>
    <%= f.button :submit, "Get answer", class:"btn btn-info" %>
    <%= f.button :submit, "Clear form", :class => 'btn btn-outline-info', :type => 'reset' %>
    <div class='pt-3'>
    <%= @patient.response %>
    </div>
  <% end %>

  </p>
  </div>
</div>
</div>

