<% provide(:title, 'Welcome') %>

<div class="row">  
  <div class="col-md-5">
    <img src='/images/clinic.jpg' width="480"></img>
    <div id="address">140 Centennial Pkwy N, Hamilton, ON L8E 1H9 (289) 204-0561 
      <br>During clinic open hours: (905) 561-9255 
    </div>

    <p>
    <div class="ml-3 pt-3">
    <div class="panel panel-info p-3 news-panel-body">
     <div class="panel-body">
      Clinic is now open by appointment only Mon-Sat from 9am to 2pm. You can <%= link_to "book your appointment online", new_user_session_path %>
  <%= render "schedules/full_schedule" %>
    </div>
  </div>
  </div>
  </div>

<div class="col-md-7">
  <div class="hdr-text">Digital Walk-In Clinic for canadians <img src="/images/leaf.png" width=45 valign=top> </div> 
  <div class='pt-5'></div>
<font size=3>
  <p><font size=6>N</font>eed to see a doctor, but don't want to go to clinic during pandemic? You don't have to. You can now discuss your medical issue and renew your medications over the phone.</p>

  <p>
  Let's first look you up. More than 65000 patients visited our clinic over the last 15 years, so chances are you are in our database. If found, you will have immediate access to your patient record and visit history </p>

  <%= render "#{device_type}_lookup" %>

<p> If you are registered already, you are ready to make your telephone appointment: </p>

<div align="center" class="pt-4"><%= link_to 'Request Callback From Dr. Ostapenko', new_user_session_path, class: "btn btn-warning btn-lg" %></div>

<p class="pt-4"><i>We never send surprise bills for insured services! Free is free. </i> </p>

</div>
</div>
<div class="row ml-3 mr-3">
<div class="col-md-12">
<p class="pt-5">Don’t have a health card? We still can help. Please call the number above and leave a message. We will respond as soon as we can. </p>

<p>
Covid-19 is here and it’s not a regular flu. This virus is much more contagious and much more deadly, especially for older people with health conditions.  There’s no cure and no vaccine at this point. So please treat the situation seriously and take all measures to keep yourself safe.
If you have any or all of these symptoms: fever, coughing, weakness, sweating, muscle pain, do not go to see a doctor, this is a sure way to spread the infection!  Please stay at home and call a doctor. You can register and make a telemedicine appointment with dr. Ostapenko using the button above.
</p>

<p>
<b>Mask or no mask?</b> Surgical masks in general, but especially N95 (US) or FFP3 (Europe) help to prevent the spread of the disease. If you have Covid-19 symptoms, it’s recommended to wear a mask in public.
</p>
<p>
<b>Think you might have it?</b> <a href="https://covid-19.ontario.ca/self-assessment/#q1" target="_new">Here is official Ontario quick self-assessment page</a>

</font>
</div>
</div>

<div class='p-3'>
<%= render "footer_icons" %>
</div>

