<% provide(:title, 'Welcome') %>
<% hcv = SvcMonitor.find_by(name: 'hcv')  %>
<% show_popup = params[:show_popup] rescue false %>
<div class="row ms-auto justify-content-center">  
  <div class="col-md-6 col-sm-12">
    <img src='/images/clinic2.jpg' width="700"></img>
    <div id="address" class="pt-3 ml-5">140 Centennial Parkway North, Hamilton, ON L8E 1H9  tel. 905.561.9255   &nbsp;&nbsp <%= link_to '<i class="bi bi-pin-map-fill"></i> Get Directions'.html_safe, show_directions_path %>
      
      <!--
      "https://www.google.com/maps/dir//Stoney+Creek+Medical+Walk-In+Clinic,+140+Centennial+Pkwy+N,+Stoney+Creek,+ON+L8E+1H9,+Canada/@43.233076,-79.7631224,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x882c9894d9c1cac5:0xeb749383c5b18494!2m2!1d-79.7609284!2d43.233076!3e0", target: "_blank" %>
    -->

    </div>

    <div class='pt-3'></div>

    <div class="row justify-content-center">

      <div class="col-5 p-3">
        <% bg = Schedule.clinic_open? ? 'bg-light' : 'bg-warning' %>
        <div class="card text-center mx-auto mb-3 border-secondary <%= bg %>" style="min-height: 14rem;">
          <div class="card-title fs-4 pt-2"><i class="bi bi-clock" style="font-size: 20px"></i> Schedule </div>
        <div class="card-body">
        <%= Schedule.doc_on_duty %>
        
        <div class="pt-3">
          <%= link_to 'Check Current Schedule', show_schedule_path, class: "btn btn-primary stretched-link" %>
        </div>

        </div>
        </div>
      </div>
      <div class="col-5 p-3">
        <div class="card card-block text-center mb-3 mx-auto bg-info border-secondary" style="min-height: 14rem;">
          <div class="card-title fs-4 pt-2"><i class="bi bi-question-circle" style="font-size: 20px"></i> Ask Virtual Doctor </div>
        <div class="card-body">
        <%= link_to 'AI powered Virtual Assistant - ask medical question in any language and get instant answer', static_pages_ai_chat_path, class: "btn btn-info stretched-link" %>
        </div>
        </div>
      </div>

      <div class="col-2 p-3">
      </div>

    </div>

  <!--
    <div class="pt-3">
      You can set up your virtual visit or request prescription renewal even when the clinic is closed : <%= link_to "request callback from doctor", new_user_session_path %>.
    </div>

    <p>
    <div class="ml-3" >
    <div class="panel panel-info news-panel-body">
      <div class="panel-body "><p align="justify"> 
  <%= render "schedules/full_schedule" %>
    </div>
  </div>
  </div>
-->



  </div>

<div class="col-md-6 col-md-offset-1">
  <div class="hdr-text">We are open every Day! </div> 
  <div class="pull-right"> <i class='glyphicon glyphicon-time'></i><i> 24/7 Virtual Visits</i> </div>
  <div class='pt-5'></div>

  <div class='pt-2'></div>
   <p><font size=6>O</font>ur clinic is open 7 days a week. Current schedule is shown below. Please register here and doctor will call you back. During callback to discuss your medical issue, doctor will decide if you need to come to the clinic. You can also go directly to the clinic, but registering saves time. </p>
  <div class="pt-3"></div>

  <p> <font size=6>P</font>rescriptions can now be renewed over the phone with online registration. Just wait for callback from doctor to discuss what you need. You can pick your prescription at the pharmacy of your choice.  2 step TB tests and Driving Physical Exam are available at $60/step and $120. <b> We do not renew prescriptions for narcotics and controlled medications.</b> </p>

  <div class="pt-3"></div>
  <p> <font size=6>E</font>ven if you are out of province or don't have a health card, we still can help. Please call the clinic directly during business hours or just walk in. </p>

<% if current_patient && current_patient.user && current_patient.user.confirmed_at %>
  <h2> Welcome back, <%= current_patient.fname %> </h2>
  <%= render "/devise/sessions/new" %>
<% else %>
<div class="pt-2">
  <font size=6>N</font>ew patient? <%= link_to 'Please register', new_user_registration_path %>
</div>
<div class="pt-2">
  <%= render "#{device_type}_lookup" if hcv.up %>
</div>

<p class="pt-3">Registered already? Go ahead and book your visit. Just click the button below, log in and describe your symptoms. Doctor on duty (see the schedule) will call you back to discuss your issue or renew your medications. Doctor will advise if you need to come to the clinic. </p>
<div align="center" class="pt-4"><%= link_to 'Book a visit', new_user_session_path, class: "btn btn-success btn-lg p-3" %></div>
<% end %>

<div class="pt-3">
   For telemedicine visits, our goal is to call you back within an hour of your online request, provided it was made between 8am and 8pm Monday to Friday, or between 9am and 2pm on weekends.
</div>

<div class="pt-4">
  <i>
    Patients who booked their appointments online, as well as patients with small children,  <u>will be given priority</u>. Just go to receptionist and tell them that you registered online. Please, no registrations from our parking lot or waiting room. We will be checking timestamps of all online bookings before letting you jump the line. Thank you for understanding.
  </i>
</div>

<div class="pt-3"><%= link_to 'Other walk-in clinics in Stoney Creek', other_clinics_path %></div>
<div class="pt-2"><%= link_to 'Family doctors in Hamilton accepting new patients', other_doctors_path %></div>
</div>
</div>

<div class="pt-5 d-flex justify-content-evenly"> 
<div class="row  row-cols-1 row-cols-md-4 g-4">
  <div class="col">
  <img src="/images/office/300/13.png">
  </div>

  <div class="col">
  <img src="/images/office/300/12.png">
  </div>

  <div class="col">
  <img src="/images/office/300/1.png">
  </div>

  <div class="col">
  <img src="/images/office/300/6.png">
  </div>
</div>
</div>

  </div>
</div>


<div class="pt-5">
  <%= render "footer_icons" %>
</div>

  <script>
    var show_popup = "<%= show_popup %>";
    if (show_popup) {
      alert("Please check your email and confirm your account");
    }
  </script>

