<div class="p-3">
<%= simple_form_for :patient, url: patients_lookup_path do |f| %>
  <%= f.error_notification %>

  <div class='ml-2'>Patient Lookup</div>
<small>
<div class="panel panel-default ml-2">
<div class="panel-body">
<div class="row">
  <div class="col-md-3">

  <b>Your Ontario Health Card#</b>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <%= f.input :ohip_num, label: false, placeholder: 'XXXXXXXXXXX AA' %>
  </div>

  </div>
  <div class="col-md-2">
  <%= f.label '', class: 'pt-2' %>
  <div style="width:100px;display:none" id="register_button">
  <%# button_to 'Register', patients_lookup_path, remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window', class:"btn btn-primary", method: 'get' %>
  <%= button_to 'Register', patients_lookup_path, class:"btn btn-primary", method: 'get' %>
  </div>
  </div>
  <div class="col-md-4 pt-3">
    <div class="text-muted" style="font-size: 1.1em;">
      <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
      If you have been to our clinic we will lookup your patient profile and your visit history. Once registered, you will have access to your record.
    </div>
  </div>
</div>

<div class=" col-md-12 text-success" id="results"></div>

</div>
</div>
</small>

<% end %>
</div>

<script>
$(document).ready(function() {

var ohip_num = document.getElementById("patient_ohip_num");
$(ohip_num).keyup(function () {
  if ($(this).val().length > 11 ) {
     var val = $(this).val().replace(/\W/g,'');
     get_patient( val );
  }
});

});

</script>


