<div class="p-3">
  <%= simple_form_for :patient, url: patients_lookup_path do |f| %>
  <%= f.error_notification %>

<div class="panel panel-default ml-2">
<div class="panel-body">
  <%= f.input :ohip_num, label: 'Your Ontario Health Card#', placeholder: 'XXXXXXXXXXX AA', input_html: {style: "height: 45px !important; font-size: 1.3em; font-weight:bold; "} %>
  </div>
  <div style="display:none" id="register_button">
  <%= button_to 'Register', patients_lookup_path, class:"btn btn-primary", method: 'get' %>
  </div>
  <div style="display:none" id="login_button">
  <%= button_to 'Log In', new_user_session_path, class:"btn btn-primary", method: 'get' %>
  </div>

  <div class="text-success pt-3" id="results"></div>
</div>
</div>

<% end %>
</div>

<script>
$(document).ready(function() {
var ohip_num = document.getElementById("patient_ohip_num");
$(ohip_num).keyup(function () {
  if ($(this).val().length > 11 ) {
     var val = $(this).val().replace(/\W/g,'');
     get_patient( val );
  }
});

});
</script>


