<% provide(:title, 'Welcome') %>
<% hcv = SvcMonitor.find_by(name: 'hcv')  %>

<font size=3>
  <div class="hdr-text"><center> <i class='bi bi-clock'></i>&nbsp; 24/7 Online Visits</center></div>
  
  <% if current_patient && current_patient.user && current_patient.user.confirmed_at %>

  <h2> Welcome back, <%= current_patient.fname %> </h2>
  <%= render "/devise/sessions/new" %>
  <% else %>

  <div class="row pt-3">
  <div class="col-md-4 col-md-offset-4">
    <ul>
      <li> 100% OHIP covered </li>
      <li> Fast doctor callbacks </li>
      <li> No Appointment required </li>
    </ul>
  </div>
  </div>

  <div align="center" class="pt-2">
    <div class="card card-block text-white bg-primary w-75">
      <h1 class="card-title text-center pt-3"> <i class="bi bi-phone"></i> Login/Register </h1>
      <div class="card-body pt-0">
         <%= link_to 'You can register your visit and request doctor callback here', new_user_session_path, class: " stretched-link text-white " %>
      </div>
    </div>
  </div>

  <% end %>
  

  <div align="center" class="pt-3">
      Get instant help on any health-related issue from our dedicated AI-powered virtual assistant. You can ask questions about your condition, treatment options or dosages of medications.
  </div>

<div align="center" class="pt-3"></div>
<div class="card text-center mx-auto bg-info w-75">
  <h1 class="card-title pt-2"><i class="bi bi-question-circle" style="font-size: 20px"></i>&nbsp; Ask Virtual Doctor </h1>
  <div class="card-body pt-0">
      <%= link_to 'AI powered Virtual Assistant - ask medical question in any language and get instant answer', static_pages_ai_chat_path, class: "btn btn-info stretched-link" %>
   </div>
</div>


  <div align="center" class="pt-3">
       Our goal is to call you back within an hour of your request, if made between 8am and 8pm. We can't guarantee prompt callbacks during off hours.
  </div>

  <div align="center" class="pt-3">
  <div class="card card-block text-white w-75" style="background-color: #00AA9E;">
      <h1 class="card-title pt-3"> <i class="bi bi-calendar3"></i>&nbsp; Schedule</h1>
      <div class="card-body pt-0">
         <%= link_to "#{Schedule.doc_on_duty}", show_schedule_path, class: "btn btn-outline stretched-link fs-6 text-white" %>
      </div>
  </div>
  </div>

<div class="pt-5 fs-6"> <i class="bi bi-pin-map"></i> <%= link_to 'Show driving directions', show_directions_path %> </div>
<div class='pt-2 fs-6'> <i class="bi bi-journal-medical"></i> <%= link_to 'Other walk-in clinics in Stoney Creek', other_clinics_path %></div>
<div class="pb-5 pt-2 fs-6"> <i class="bi bi-info-circle"></i> <%= link_to 'Family doctors in Hamilton accepting new patients', other_doctors_path %></div>


<%= render "footer_icons" %>
