<% provide(:title, 'Welcome') %>

  <div class="hdr-text"> <i class='glyphicon glyphicon-time'></i> 24/7 Virtual Visits!</div>
  <div class='pt-4'></div>
<font size=3>
  <p><font size=6>C</font>linic is now open 7 days a week. Schedule is shown below.  Please register for callback to save time. During callback, doctor will decide if you need to come to the clinic. Registered patients are given priority.</p>

  <div class="pt-3"></div>
  <p> <font size=6>P</font>rescriptions can be renewed over the phone. You can pick them up at the pharmacy of your choice. </p>

  <%= render "#{device_type}_lookup" %>

<p> Already registered? Just click the button below to book an appointment. Doctor on duty will call you back. </p>

<div align="center" class="pt-4">
<%= link_to 'Request Doctor Callback', new_user_session_path, class: "btn btn-warning btn-lg" %></div>

<div class="pt-4">
  <i>
    Patients with online appointments for visits at the clinic  <u>will be given priority</u>
  </i>
</div>

<h2> (905) 561-9255 </h2>

<div class="pt-1"><i class="glyphicon glyphicon-exclamation-sign mr-2"></i><b>If you have COVID-19 symptoms, please do not come to the clinic. Register online or call the numbers provided. </b></div> 
<p class="pt-3">Don’t have a health card? We still can help. Please call the clinic directly during business hours. </p>

    <div class="ml-3 pt-3">
  <%= Schedule.doc_on_duty %>
    </div>

  <p>
    <div class="panel panel-info pt-3 news-panel-body">
      <div class="panel-body "><p align="justify"> 
       This is current schedule. Please <%= link_to "book your appointment online", new_user_session_path %> or call the clinic  during business hours: <b> (905) 561-9255 </b>.
       For telemedicine visits, our goal is to call you back within an hour of your online request if it was made between 8am and 8pm.
  <%= render "schedules/full_schedule" %>
        </p>
    </div>
  </div>
</font>

<h2>Off hours: <%= link_to 'Request Callback', new_user_session_path %> </h2>

<div class='pt-3'>
<%= render "footer_icons" %>
</div>
