<% provide(:title, 'Patient Registration') %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%# f.full_error :patient_id %> <%#unless f.error :ohip_num %>
  <%# display = f.object.errors[:email].present? ? 'display: all' : 'display: none' %>
  <%# f.object.errors.inspect %>
  
<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
<h3>Patient Sign Up</h3>
<div class="well">

  <div id="note"> 
  Clinic patient? If health card number matches our records, we will retrieve your patient profile
  </div>

  <b><font color=green><span id="results"></span></font></b>
  <p>&nbsp;</p>

  <div class="row">
  <div class="col-md-12">
    <%= f.input :ohip_num, label: 'Your Health Card Number', autofocus: true %>
  </div>
  </div>

  <div class="row">
    <div class="col-md-12" id="email" >
    <%= f.input :email, required: true, autofocus: false, input_html: { autocomplete: "email" } %>
  </div>
  </div>

  <div class="row" id="password">
  <div class="col-md-12">
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
  </div>
  </div>
              
  <div class="row" id="password_conf">
  <div class="col-md-12">
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>
  </div>

  <div class="row" id="submit">
  <div class="col-md-12">
    <%= f.button :submit, "Sign Up to make an appointment", class: "btn btn-primary btn-lg" %>
  </div>
  </div>

  <div class="row">
  <div class="col-md-12">
  <%# render "devise/shared/links" %>
  </div>
  </div>

</div>
</div>
<% end %>


<script>
$(document).ready(function() {

var ohip_num = document.getElementById("user_ohip_num");
$(ohip_num).change(function () {
  if ($(this).val()) {
     get_patient( $(this).val() );
//     alert($(this).val());
  }
});

  function get_patient ( ohip_num ) {
        var request = "/patients/get?findstr=" + ohip_num;
        var aj = $.ajax({
        url: request,
        type: 'get',
        data: $(this).serialize()
    }).done(function (data) {
      if (data.lname !== undefined) {
//        console.log(data);
        result = `Clinic patient found:<br> ${data.lname}, ${data.fname} dob:  ${data.dob} Last visit: ${data.last_visit_date}`;
        $("#results").append(result);
        $('#note').hide()
      }
    }).fail(function (data) {
        console.log('AJAX request has FAILED');
    });
  }

});
</script>

