<b>Dear Dr. <%= @visit.doctor.lname %>,</b>

<div style="height: 20px;"></div>
Virtual visit was just created by patient <b> <%= @visit.patient.full_name %> <%= @visit.patient.age_str %> <%= @visit.patient.full_sex %></p></b>
<p>Reason given: "<%= @visit.reason %>" </p>


<div style="height: 20px;"></div>
<%= link_to 'Show me new visit', patient_visit_url(@visit.patient, @visit) %> </p>


<div style="height: 30px;"></div>
Stoney Creek Medical Walk-In Clinic
