<%= form_for (@invoice) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <h2>Invoice for patient <%= @patient.full_name %> </h2>

<%= f.hidden_field :date, value: Date.today %>
<%= f.hidden_field :patient_id, value: @patient.id %>

<div class="col-md-11 col-sm-12 col-md-offset-3 col-sm-offset-1">

<div class="row">
  <div id="ins_provider" class="col-sm-6">
  <%= f.label "Insurance Provider" %>
  <%=  f.collection_select(:billto, Provider.all, :id, :name, prompt: 'Select Insurance Provider')  %>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
  <%= f.label 'Description' %>
  <%= f.text_field :notes %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  <%= f.label :'Amount' %>
  <%= f.number_field :amount %>
  </div>
</div>

<% if action_name == 'edit' %>
<div class="row">
<div class="col-sm-1">
 <%= f.label :paid? %>
 <%= f.check_box :paid, value: 'false'  %>
</div>
</div>
<% end %>

<div class="row">
  <div class="spacer-20"></div>
  <div class="col-sm-10 col-md-6">
<% if action_name == 'edit' %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% else %>  
  <%= f.submit yield(:button_text), class: "btn btn-primary", formtarget: '_blank' %>
<% end %>
  </div>
</div>
</div>

<% end %>


