<% provide(:title, 'All invoices') %>
<%= render 'shared/modal' %>

<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
	  <th><%= sortable 'id', '#' %> </th>
	  <th><%= sortable 'patient_id', 'Patient' %></th>
	  <th><%= sortable 'doctor_id', 'Doctor' %></th>
	  <th><%= sortable 'billto', 'Bill To' %></th>
	  <th>Description</th>
	  <th> <%= sortable 'date' %></th>
	  <th> <%= sortable 'amount' %></th>
	  <th>Paid?</th>
	  <th></th>
	  <th></th>
	  <th></th>
      </tr>
  </thead>
  <tbody>

  <%= render @invoices, remote: device_is_desktop? %>

  </tbody>
</table>

<div class="row">
<div class="bottom_nav">
<%= will_paginate @invoices, class: "btn" %>
</div>
</div>
