<% provide(:title, @diagnosis.code) %>

	<h1>Diagnosis <%= @diagnosis.code %> - details  </h1>

<div class="row justify-content-md-center">
    <div class="col-md-6 col-md-offset-3">
	   <pre>

	      Code:         <%= @diagnosis.code %>
	      Description:  <%= @diagnosis.descr %>
	      Problem type: <%= @diagnosis.prob_type %>

           </pre>
  <%= button_to "Edit", edit_diagnosis_path(@diagnosis), class: "btn btn-primary", :method => "get" %>
    </div>
</div>

