<%= simple_form_for [@patient, @prescription],  :html => {:multipart => true} do |f| %> 
  <%= render 'shared/error_messages', object: f.object %>
  <% doc_id = current_doctor.id %>
  
<div class="well">
<div class="row">
	<h4><div class="col-sm-1"></div><div class="col-sm-7">Medication</div><div class="col-sm-1">Qty</div><div class="col-sm-1">Rep</div><div class="col-sm-2">Note</div></h4>
</div>
<hr>

<div class="row">
  <div class="col-sm-8">
     <%= f.collection_check_boxes(:meds,@patient.med_hash, :last, :first, item_wrapper_class: 'col-sm-12 checkbox-list' ) do |b| %>
          <% checked = @prescription.ameds.include?(b.value.to_s) %>
	  <%= b.check_box(checked: checked) + b.label %>
     <% end %>
  </div>

<% (@patient.med_hash).each_with_index do |(key,val),i| %>
  <div class="col-sm-1">
     <%= f.input_field :qty, label: false, multiple: true, value: YAML.load(@prescription.qty)[i] %>
  </div>
  <div class="col-sm-1">
     <%= f.input_field :repeats, label: false, multiple: true, value: YAML.load(@prescription.repeats)[i]   %> 
  </div>
  <div class="col-sm-2" style="padding-top: 1px">
     <%= f.input_field :duration, label: false, multiple: true, value: YAML.load(@prescription.duration)[i]   %> 
  </div>
<% end %>
</div>

<div class="row">
  <div class="col-sm-12">
     <%= f.input :note %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
     <%= f.input :doctor_id, collection: get_active_doctors, label_method: :lname, value_method: :id, prompt: 'Select', selected: doc_id, label: 'Doctor', hint: 'Required' %>
  </div>
</div>

<% unless action_name == 'show' %>
<%= f.submit yield(:button_text), class: "btn btn-primary btn-block" %>
<% end %>

<% end %>

</div>
