<% visit = Visit.find(claim.visit_id) if claim.visit_id.present?
   patient = Patient.find(visit.patient_id) rescue nil if visit.present?
   doctor = Doctor.find_by(provider_no: claim.provider_no)
%>
   <tr>
	    <% if patient.present? && visit.present? %>
	      <td><%= link_to claim.claim_no, patient_visit_path(patient, visit) %></td>
    	    <% else %>
	      <td><%= claim.claim_no %></td>
	    <% end %>
	    <td><%= claim.date %></td>
	    <td><%= doctor.lname %></td>
	    <td><%= claim.services.size %></td>
	    <td><%= claim.accounting_no %></td>
	    <td><%= claim.province %></td>
	    <td><%= "#{claim.ohip_num} #{claim.ohip_ver}" %></td>
	    <td><%= claim.pmt_pgm %></td>
	    <td><%= claim.ra_file %></td>
	    <td><%= claim.date_paid %></td>
	    <td><%= "#{claim.pat_lname} #{claim.pat_fname}" %></td>

     </tr>

