<tr>
  <td><%= service.svc_date %></td>
  <td><%= service.svc_code %></td>
  <td><%= service.units %></td>
  <td><%= sprintf("$%.2f",service.damt_subm) %></td>
  <td><%= sprintf("$%.2f",service.damt_paid) %></td>
  <td><%= service.errcode %></td>
</tr>

