<% provide(:title, 'All claims') %>

<table class="tbl table-hover"> 
  <thead>
      <tr>
          <th><%= sortable 'claim_no', 'Claim #' %></th>
	  <th>Svc Date </th>
          <th><%= sortable 'provider_no', 'Provider' %></th>
 	  <th class='tbl_sm'>Svcs</th>
 	  <th>Submitted</th>
 	  <th>Paid</th>
          <th><%= sortable 'accounting_no', 'Acc #' %></th>
	  <th>HC#</th> 
          <th class='tbl_sm'>Prov</th>
	  <th class='tbl_sm'><%= sortable 'pmt_pgm', 'Type' %></th> 
	  <th>RA file</th>
          <th><%= sortable 'date_paid', 'Date Paid' %></th>
	  <th>Visit</th> 
      </tr>
  </thead>
  <tbody>

  <%= render @claims %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @claims, class: "btn" %> 
</div>
