<% provide(:title, 'All claims') %>
<%= render "shared/modal", size: 'lg' %>

<div class='col-sm-12'>
<%= form_with url: claims_index_path do |f| %>
  <div class="row form-control"> 
<% unless current_user.doctor? %>
    <div class="col-sm-2">
    <%= f.label 'Show claims for:' %>
    </div>
    <div class="col-sm-3 col-md-2">
    <%= f.collection_select :filter_doc_id, get_active_doctors, :id, :lname, 
	    options= {prompt: 'All Doctors', selected: @doc_id}, 
	    html_options = {onchange: 'this.form.submit();'} 
    %>
    </div>
<% end %>
    
    <div class="col-sm-3 col-md-2">
    <%= f.label 'Adjusted claims only:' %>
    </div>
    <div class="col-sm-2 col-md-1">
	    <%= f.select :adjusted, [['Yes',1],['No',0]], options={selected: @adjusted},
		         html_options = {onchange: 'this.form.submit();'} %>
    </div>
  </div>
<% end %>
</div>

<table class="tbl table-hover"> 
  <thead>
      <tr>
          <th>Claim #</th>
          <th>Acc #</th>
	  <th>HC#</th> 
	  <th>Svc Date </th>
          <th>Provider</th>
 	  <th class='tbl_sm'>Svcs</th>
 	  <th>Subm.</th>
 	  <th>Paid</th>
          <th class='tbl_sm'>Prov</th>
          <th>Date Paid</th>
	  <th>Visit</th> 
      </tr>
  </thead>
  <tbody>

  <%= render @claims, remote: device_is_desktop? %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @claims, params: {filter_doc_id: @doc_id, adjusted: @adjusted}, class: "btn" %> 
</div>
