<% provide(:title, 'All claims') 
%>

<% unless current_user.doctor? %>
<%= form_with url: claims_index_path do |f| %>
  <div class="row form-control"> 
    <div class="col-sm-2">
    <%= f.label 'Show claims for doctor:' %>
    </div>
    <div class="col-sm-2">
    <%= f.collection_select :filter_doc_id, get_active_doctors, :id, :lname, 
	    options= {prompt: 'All Doctors', selected: @doc_id}, 
	    html_options = {onchange: 'this.form.submit();'} 
    %>
    </div>
  </div>
<% end %>
<% end %>

<table class="tbl table-hover"> 
  <thead>
      <tr>
          <th>Claim #</th>
	  <th>Svc Date </th>
          <th>Provider</th>
 	  <th class='tbl_sm'>Svcs</th>
 	  <th>Subm.</th>
 	  <th>Paid</th>
          <th>Acc #</th>
	  <th>HC#</th> 
          <th class='tbl_sm'>Prov</th>
	  <th class='tbl_sm'>Pgm</th> 
	  <th>RA file</th>
          <th>Date Paid</th>
	  <th>Visit</th> 
      </tr>
  </thead>
  <tbody>

  <%= render @claims %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @claims, params: {filter_doc_id: @doc_id}, class: "btn" %> 
</div>
