<% codehash = ClaimError.pluck(:code, :descr).to_h %>

<div class="row">
<div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
	
<section>
<pre class="pre-scrollable-large">
<% if (HCP_PATIENT..WCB_PATIENT).include?(@visit.pat_type) %>
<b>OHIP Visit HC# </b>: <%= @visit.hin_num %>  <b> Billing Type: </b> <%= @visit.pat_type %>
<% elsif @visit.pat_type == IFH_PATIENT %>   
<b>IFH Visit Card# </b>: <%= @visit.hin_num %> 
<% else %>
<b>CASH VISIT </b>    
<% end %>   
<b>Status </b>: <%= @visit.status_str %> 
<b>Doctor</b> : <%= @visit.doctor.lname %>
<% if @visit.temp.present? %>
<b>Vital signs</b>: T: <%= @visit.temp %> P: <%= @visit.pulse %> BP: <%= @visit.bp %>
<% end %>
<% if @visit.diag_code.present? %>
<b>Diagnosis</b> : <%= @visit.diag_code %> : <%= @visit.diag.descr rescue '' %>
<% end %>
<% if @visit.services.any? %>
<b>Services</b> : <%=  @visit.proc_codes %>
<%#
<b>Service types </b>: <%= [@visit.all_btypes_str, @visit.all_units].transpose.map{ |el| "#{el[0]}:#{el[1]}"}.join', ' %>
<b>Billed total: <%= sprintf '$%.2f',@visit.total_fee %> Insured: </b><%= sprintf '$%.2f',@visit.total_insured_fees %> <b>Other services:</b> <%= sprintf '$%.2f',@visit.total_non_insured_fees %>
<% end %>
<b>Entry by </b>: <%= @visit.entry_by %>
<b>Entered at </b>: <%= @visit.entry_ts %>
<% if @visit.billing_ref.present? %>
<% if @visit.status == ERROR %>       
       <b>Error code: </b>: <%= link_to @visit.billing_ref, '#', {title: codehash[@visit.billing_ref]}  %>
<% else %>
<b>Billing Ref# </b>: <%= @visit.billing_ref %>
<% end %>
<% end %>
<% if @visit.export_file.present? %>
<b>Export file</b>: <%= @visit.export_file %>
<% end %>
<% if @visit.amount.present? %>
<b>Amount Paid </b>: <%= sprintf '$%.2f', @visit.amount %>
<% end %>
<% if @visit.documents.present? %>
<b>Documents</b>: 
<% @visit.documents.each do |d| %>
   <% next unless d.document.file.present? %>
   <%= link_to d.document.file.filename, d.document.url.to_s %>
<% end %>
<% end %>
</pre>

<% if @visit.reason.present? %>
<div class="panel panel-info">
   <div class="visit-notes-panel-body">
<b>Reason for Visit </b>: <%= @visit.reason %>
   </div>
</div>
<% end %>

<% if @visit.notes.present? %>
<div class="panel panel-info">
   <div class="visit-notes-panel-body">
<b>Notes </b>: <%= @visit.notes.html_safe %>	     
   </div>
</div>
<% end %>

</section>
</div>
</div>

<%= render "#{current_user.role}_buttons" %>


