<%= form_for [@patient, @visit]  do |f| %> 
  <%= render 'shared/error_messages', object: f.object %>
  
  <% doc_id = @visit.doctor.id || current_doctor.id %>
  <% @procedures = get_active_procedures %>

  <!-- Row 1 --> 

<div class="row">
  <div class="col-sm-4">
  <%= f.label "Doctor" %>
  <%= f.collection_select(:doc_id, get_active_doctors, :id, :lname, prompt: 'Select', selected: doc_id) %>
  </div>

  <div class="col-sm-2">
  <%= f.label "Procedure" %>
  <%= f.collection_select :proc_code, @procedures, :code, :code, prompt: 'Select', include_blank: 'None' #, selected: @visit.proc_code || 'A007A'  %>
  <%= f.hidden_field(:fee, id: :fee) %>
  </div>

  <div class="col-sm-2">
  <%= f.label "Procedure" %>
  <%= f.collection_select :proc_code2, @procedures, :code, :code, prompt: 'Select', include_blank: 'None'  %>
  </div>

  <div class="col-sm-2">
  <%= f.label "Procedure" %>
  <%= f.collection_select :proc_code3, @procedures, :code, :code, prompt: 'Select', include_blank: 'None'  %>
  </div>

  <div class="col-sm-2">
  <%= f.label "Procedure" %>
  <%= f.collection_select :proc_code4, @procedures, :code, :code, prompt: 'Select', include_blank: 'None'  %>
  </div>
</div

  <!-- Row 2 -->

<div class="row">
  <div class="col-sm-4">
  <%= f.label "Diagnosis" %>
  <%=  f.collection_select :diag_code, get_active_diagnoses, :code, :descr_with_code, prompt: 'Select'  #, selected: @visit.diag_code || '460.000' %>
  </div>

  <div class="col-sm-2">
  <%= f.label :units %>
  <%= f.select :units, UNITS, prompt:  'Select' %>
  </div>

  <div class="col-sm-2">
  <%= f.label :units %>
  <%= f.select :units2, UNITS, prompt: 'Select' %>
  </div>

  <div class="col-sm-2">
  <%= f.label :units %>
  <%= f.select :units3, UNITS, prompt: 'Select' %>
  </div>

  <div class="col-sm-2">
  <%= f.label :units %>
  <%= f.select :units4, UNITS, prompt: 'Select' %>
  </div>
</div>

  <!-- Row 3 -->

<div class="row">
  <div class="col-sm-2">
  <%= f.label "Duration" %>
  <%= f.select :duration, DURATIONS, default: 10  %>
  </div>
  <div class="col-sm-2 ">
  <%= f.label "Visit Type" %>
  <%= f.select :vis_type, VISIT_TYPES, placeholder: 'Visit type', default: 'WS' %>
  </div>
  
  <div class="col-sm-2">
  <%= f.label "Bill Type" %>
  <%= f.select :bil_type, BILLING_TYPES, prompt: 'Select', include_blank: 'None', selected: @visit.bil_type || 1 %>
  </div>

  <div class="col-sm-2">
  <%= f.label "Bill Type" %>
  <%= f.select :bil_type2, BILLING_TYPES, prompt: 'Select', include_blank: 'None' %>
  </div>

  <div class="col-sm-2">
  <%= f.label "Bill Type" %>
  <%= f.select :bil_type3, BILLING_TYPES,  prompt: 'Select', include_blank: 'None' %>
  </div>

  <div class="col-sm-2">
  <%= f.label "Bill Type" %>
  <%= f.select :bil_type4, BILLING_TYPES, prompt: 'Select', include_blank: 'None' %>
  </div>
</div>

  <!-- Row 4 -->

<div class="row">
  <div class="col-sm-4">
  <%= f.label "Visit Status" %>
  <%= f.select :status, VISIT_STATUSES, placeholder: 'Status' %>
  </div>

  <div class="col-sm-2">
  <%= f.label :Temperature %>
  <%= f.text_field :temp %>
  </div>
  <div class="col-sm-2">
  <%= f.label 'Heart Rate' %>
  <%= f.text_field :pulse %>
  </div>
  <div class="col-sm-2">
  <%= f.label "Blood Pr H/L" %>
  <%= f.text_field :bp %>
  </div>
  <div class="col-sm-2">
  <%= f.label "Weight (kg)" %>
  <%= f.text_field :weight %>
  </div>
</div>

  <!-- Row 5 -->

<div class="row">
  <div class="col-sm-12">
  <%= f.label "Reason for Visit" %>
      <%= f.text_field :reason %>
  </div>

  <!-- Notes, reason, submit -->

  <div class="col-sm-12">
  <div id="ins_provider"> 
  <%= f.label "Insurance Provider" %>
  <%=  f.collection_select(:provider_id, Provider.all, :id, :name, prompt: 'Select Insurance Provider')  %> 
  </div>

  <%= f.text_area :notes, rows:4, placeholder: 'Notes' %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
</div>

<% end %>

<script>
$(document).ready(function() {
    if ($("#visit_provider_id").val() > 0) {
       $("#ins_provider").show();
    } else{
       $("#ins_provider").hide();
    }
    $('#visit_diag_code').select2();
    $('#visit_proc_code').select2();
    $('#visit_proc_code2').select2();
    $('#visit_proc_code3').select2();
    $('#visit_proc_code4').select2();
});

// Show insurance Drop-Down if :Invoice is selected in bill type 1..4
  var el = document.getElementById("visit_bil_type");
  $(el).change(function () {
        if ( $(el).val() == "3" ) {    //Invoice
           $('#ins_provider').show();
	} else {
           $('#ins_provider').hide();
	}
  });

  var el2 = document.getElementById("visit_bil_type2");
  $(el2).change(function () {
        if ( $(el2).val() == "3" ) {    //Invoice
           $('#ins_provider').show();
	} else {
           $('#ins_provider').hide();
	}
  });

// Select proper bill type for the procedure
var pc = document.getElementById("visit_proc_code");
$(pc).change(function () {
  if ($(this).val()) {
    get_bil_type( $(this).val() , '');
  } else {
    var bt = document.getElementById('visit_bil_type');
    $(bt).prop('selectedIndex',0);
  }
});

var pc2 = document.getElementById("visit_proc_code2");
$(pc2).change(function () {
  if ($(this).val()) {
     get_bil_type( $(this).val() , '2' );
  } else {
    var bt2 = document.getElementById('visit_bil_type2');
    $(bt2).prop('selectedIndex',0);
  }
});

var pc3 = document.getElementById("visit_proc_code3");
$(pc3).change(function () {
  if ($(this).val()) {
     get_bil_type( $(this).val() , '3' );
  } else {
    var bt3 = document.getElementById('visit_bil_type3');
    $(bt3).prop('selectedIndex',0);
  }
});

var pc4 = document.getElementById("visit_proc_code4");
$(pc4).change(function () {
  if ($(this).val()) {
    get_bil_type( $(this).val() , '4' );
  } else {
    var bt4 = document.getElementById('visit_bil_type4');
    $(bt4).prop('selectedIndex',0);
  }
});

function get_bil_type ( code, suff ) {
	var request = "/procedures/get_by_code?code=" + code;
	var aj = $.ajax({
        url: request,
        type: 'get',
        data: $(this).serialize()
    }).done(function (data) {
        select_btype(data, suff);
    }).fail(function (data) {
        console.log('AJAX request has FAILED');
    });
}

function select_btype( proc, suff ) {
  var v = document.getElementById('visit_bil_type'+suff);
  if ( proc.ptype == '1') {
        $(v).val('1');
     } else {
	$(v).val('3');
       $('#ins_provider').show();
  }
}

</script>
