<%= simple_form_for [@patient, @visit],  :html => {:multipart => true} do |f| %> 
  <%= render 'shared/error_messages', object: f.object %>
<% 
   doc_id = @visit.doctor.id || (current_doctor.id if current_doctor) 
   @procedures = get_active_procedures 
   @insured = [HCP_PATIENT,RMB_PATIENT,WCB_PATIENT].include?(@patient.pat_type) 

  if current_user.admin? 
     disabled = []
  elsif @visit.status == ERROR 
     disabled = ( BILLED..CANCELLED ).to_a
  elsif @visit.billing_ref.present?
     disabled = [ARRIVED,READY,WITH_DOCTOR,ERROR,CANCELLED]
  elsif @visit.hcp_proc_codes.present? 
    if @insured
       disabled = [BILLED,PAID]
    else
       disabled = [READY]
    end
  elsif @visit.proc_codes.empty?
     disabled = [READY,BILLED,PAID] 
  elsif @visit.cash?
     disabled = [READY,BILLED]
  else 
     disabled = []
  end 
%>

<div class="well">
  <!-- Row 0 if new visit or admin --> 

     <div class="row">
     <% if action_name == 'new' %>
	<div class="col-sm-5">
		<%= f.input :entry_ts, as: :datetime,  datetime_separator: ' at ', label: 'Visit Date/time', html5: true %>
  	</div>
     <% end %>
     <% if current_user.admin? && action_name == 'edit' %>
   	<div class="col-sm-4">
	  <%= f.input :billing_ref %>
  	</div>
    <% end %>
    </div>

  <!-- Row 1 --> 

<div class="row">
  <div class="col-sm-4">
  <%= f.input :doc_id, collection: get_active_doctors, label_method: :lname, value_method: :id, prompt: 'Select', selected: doc_id, label:'Doctor' %>
  </div>

  <div class="col-sm-2">
  <%= f.input :proc_code, collection: @procedures, label_method: :code, value_method: :code, prompt: 'Select', label: "Service", include_blank: 'None' %> 
  </div>

  <div class="col-sm-2">
  <%= f.input :proc_code2, collection: @procedures, label_method: :code, value_method: :code, prompt: 'Select', label: "Service", include_blank: 'None'  %>
  </div>

  <div class="col-sm-2">
  <%= f.input :proc_code3, collection: @procedures, label_method: :code, value_method: :code, prompt: 'Select', label: "Service", include_blank: 'None' %>
  </div>

  <div class="col-sm-2">
  <%= f.input :proc_code4, collection: @procedures, label_method: :code, value_method: :code, prompt: 'Select', label: "Service", include_blank: 'None'  %>
  </div>
</div

  <!-- Row 2 -->

<div class="row">
  <div class="col-sm-4">
  <%=  f.input :diag_code, collection: get_active_diagnoses, label_method: :descr_with_code, value_method: :code, prompt: 'Select', label: 'Diagnosis' %> 
  </div>

  <div class="col-sm-2">
  <%= f.input :units, collection: UNITS, prompt:  'Select', label: 'Units' %>
  </div>

  <div class="col-sm-2">
  <%= f.input :units2, collection: UNITS, prompt: 'Select', label: 'Units' %>
  </div>

  <div class="col-sm-2">
  <%= f.input :units3, collection: UNITS, prompt: 'Select', label: 'Units' %>
  </div>

  <div class="col-sm-2">
  <%= f.input :units4, collection: UNITS, prompt: 'Select', label: 'Units' %>
  </div>
</div>

  <!-- Row 3 -->

<div class="row">
  <div class="col-sm-2">
  <%= f.input :duration, collection: DURATIONS, default: 10  %>
  </div>
  <div class="col-sm-2 ">
  <%= f.input :vis_type, collection: VISIT_TYPES, placeholder: 'Visit type', default: 'WS', label: 'Vis Type' %>
  </div>
  
  <div class="col-sm-2">
  <%= f.label "Bill Type" %>
  <div id="my_bil_type"> <%= @visit.bil_type_str %></div>
  <%= f.hidden_field :bil_type %>
  </div>

  <div class="col-sm-2">
  <%= f.label "Bill Type" %>
  <div id="my_bil_type2"> <%= @visit.bil_type2_str %></div>
  <%= f.hidden_field :bil_type2  %>
  </div>

  <div class="col-sm-2">
  <%= f.label "Bill Type" %>
  <div id="my_bil_type3"> <%= @visit.bil_type3_str %></div>
  <%= f.hidden_field :bil_type3  %>
  </div>

  <div class="col-sm-2">
  <%= f.label "Bill Type" %>
  <div id="my_bil_type4"> <%= @visit.bil_type4_str %></div>
  <%= f.hidden_field :bil_type4  %>
  </div>
</div>

  <!-- Row 4 -->

<div class="row">
  <div class="col-sm-4" id="visit_statuses">
  <%= f.input :status, collection: VISIT_STATUSES, include_blank: false,  placeholder: 'Status', disabled: disabled %>
  </div>

  <div class="col-sm-2">
  <%= f.input :temp, label: "Temperature" %>
  </div>
  <div class="col-sm-2">
  <%= f.input :pulse, label: 'Heart Rate' %>
  </div>
  <div class="col-sm-2">
  <%= f.input :bp, as: :string, label:'BP (H/L)' %>
  </div>
  <div class="col-sm-2">
  <%= f.input :weight, label: 'Weight (Kg)' %>
  </div>
</div>

  <!-- Row 5: Reason for visit  -->

<div class="row">
  <div class="col-sm-12">
  <%= f.input :reason, as: :text, rows: 2, placeholder: 'Reason for visit', label: false %>
  </div>
</div>

<!-- Row 6: uploaded docs -->
<!--
<div class="row">
  <div class="col-sm-12"> 
      <% @visit.documents.each do |d| 
         next unless d.document.file.present? %>
      <%= link_to d.document.file.filename, d.document.url.to_s %>
      <% end %>
  </div>
</div>
-->

<!-- Row 7: Notes, submit button -->
<div class="row">
  <div class="col-sm-12"> 
  <%= f.input :notes, rows:4, placeholder: 'Notes', label: false %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12"> 
    <%= f.input :document, label: 'Upload Attachment (pdf/jpg)'  %>
  </div>
</div>

<div class="spacer-10"></div>

<div class="row">
  <div class="col-sm-12"> 
    <%= f.button :submit, yield(:button_text), class: "btn btn-primary" %>
  </div>
</div>

</div>

<% end %>

<script>
$(document).ready(function() {

//    $.fn.select2.defaults.set( "theme", "classic" );
    $("#visit_diag_code").select2();
    $('#visit_proc_code').select2();
    $('#visit_proc_code2').select2();
    $('#visit_proc_code3').select2();
    $('#visit_proc_code4').select2();

    var proccode = $('#new_visit select[name="visit[proc_code]"]');

    (proccode.val() =='') ? $('#visit_statuses').hide() : $('#visit_statuses').show();
    proccode.change(function () {
      (proccode.val() =='') ? $('#visit_statuses').hide() : $('#visit_statuses').show();
    });

});

// Select proper bill type for the procedure
var pc = document.getElementById("visit_proc_code");
$(pc).change(function () {
  if ($(this).val()) {
    get_bil_type( $(this).val() , '');
  } else {
    var bt = document.getElementById('visit_bil_type');
    $(bt).val(null);
    var v = document.getElementById('my_bil_type');
    v.innerHTML = '';
  }
});

var pc2 = document.getElementById("visit_proc_code2");
$(pc2).change(function () {
  if ($(this).val()) {
     get_bil_type( $(this).val() , '2' );
  } else {
    var bt2 = document.getElementById('visit_bil_type2');
    $(bt2).val(null);
    var v2 = document.getElementById('my_bil_type2');	  
    v2.innerHTML = '';
  }
});

var pc3 = document.getElementById("visit_proc_code3");
$(pc3).change(function () {
  if ($(this).val()) {
     get_bil_type( $(this).val() , '3' );
  } else {
    var bt3 = document.getElementById('visit_bil_type3');
    $(bt3).val(null);
    var v3 = document.getElementById('my_bil_type3');	  
    v3.innerHTML = '';
  }
});

var pc4 = document.getElementById("visit_proc_code4");
$(pc4).change(function () {
  if ($(this).val()) {
    get_bil_type( $(this).val() , '4' );
  } else {
    var bt4 = document.getElementById('visit_bil_type4');
    $(bt4).val(null);
    var v4 = document.getElementById('my_bil_type4');	  
    v4.innerHTML = '';
  }
});

function get_bil_type ( code, suff ) {
	var request = "/procedures/get_by_code?code=" + code;
	var aj = $.ajax({
        url: request,
        type: 'get',
        data: $(this).serialize()
    }).done(function (data) {
	select_statuses(data, suff);
        set_btype(data, suff);
    }).fail(function (data) {
        console.log('AJAX request has FAILED');
    });
}

function set_btype( proc, suff ) {
  var v = document.getElementById('visit_bil_type'+suff);
  var v2 = document.getElementById('my_bil_type'+suff);
  if ( proc.ptype == '1') {
	var btype = <%= BILLING_TYPES[@visit.pat_btype] %>; 	
        $(v).val(btype);
	var btype_str = <%= @visit.pat_btype.to_s.inspect.html_safe %> || 'HCP';
	v2.innerHTML = btype_str;
  } else if ( proc.ptype == '2') {
	$(v).val('4');
	v2.innerHTML = 'CSH';
  } else {
        $(v).val(null);
	v2.innerHTML = '';
  }
}

function select_statuses( proc, suff ) {
  var v = document.getElementById('visit_statuses').getElementsByTagName("option");
  var insured = <%= @insured %>;
  if (proc.ptype == '2' && suff.length === 0  || !insured) {  // CASH
        v[2].disabled = true;  // READY
        v[3].disabled = false; // BILLED
        v[4].disabled = false; // PAID 
     }else{
        v[2].disabled = false;
        v[3].disabled = true;
        v[4].disabled = true;
     }
}

</script>
