<%= form_for [@patient, @visit]  do |f| %> 
  <%= render 'shared/error_messages', object: f.object %>
  
  <% doc_id = @visit.doctor.id || current_doctor.id %>
  <% @procedures = get_active_procedures %>

<div class="row">
  <div class="col-md-3 col-md-offset-1">

  <%= f.label "Doctor" %>
  <%= f.collection_select(:doc_id, get_active_doctors, :id, :lname, prompt: 'Select', selected: doc_id) %>  

  <%= f.label "Diagnosis" %>
  <%=  f.collection_select(:diag_code, get_active_diagnoses, :code, :code, prompt: 'Select')  %> 

  <div class="col-md-4 padding-0">
  <%= f.label "Duration" %>
  <%= f.select :duration, DURATIONS, default: 10  %>
  </div>

  <div class="col-md-8 ">
  <%= f.label "Visit Type" %>
  <%= f.select :vis_type, VISIT_TYPES, placeholder: 'Visit type', default: 'WS' %>
  </div>

  <%= f.label "Status" %>
  <%= f.select :status, VISIT_STATUSES, placeholder: 'Status' %>
  
  </div>

  <div class="col-md-8"> </div>
  <div class="col-md-1">
  <%= f.label "Procedure" %>
  <%= f.collection_select(:proc_code, @procedures, :code, :code, prompt: 'Select')  %>
  <%= f.hidden_field(:fee, id: :fee) %>  
  </div>

  <div class="col-md-1">
  <%= f.label "Procedure" %>
  <%= f.collection_select(:proc_code2, @procedures, :code, :code, prompt: 'Select')  %>
  </div>
  
  <div class="col-md-1">
  <%= f.label "Procedure" %>
  <%= f.collection_select(:proc_code3, @procedures, :code, :code, prompt: 'Select')  %>
  </div>
  
  <div class="col-md-1">
  <%= f.label "Procedure" %>
  <%= f.collection_select(:proc_code4, @procedures, :code, :code, prompt: 'Select')  %>
  </div>

  <div class="col-md-8"> </div>
  <div class="col-md-1">
  <%= f.label :units %>
  <%= f.select :units, UNITS, prompt:  'Select' %>
  </div>

  <div class="col-md-1">
  <%= f.label :units %>
  <%= f.select :units2, UNITS, prompt: 'Select' %>
  </div>

  <div class="col-md-1">
  <%= f.label :units %>
  <%= f.select :units3, UNITS, prompt: 'Select' %>
  </div>

  <div class="col-md-1">
  <%= f.label :units %>
  <%= f.select :units4, UNITS, prompt: 'Select' %>
  </div>

  <div class="col-md-8"> </div>
  <div class="col-md-1">
  <%= f.label "Bill Type" %>
  <%= f.select :bil_type, BILLING_TYPES, prompt: 'Select' %>
  </div>

  <div class="col-md-1">
  <%= f.label "Bill Type" %>
  <%= f.select :bil_type2, BILLING_TYPES, prompt: 'Select' %>
  </div>

  <div class="col-md-1">
  <%= f.label "Bill Type" %>
  <%= f.select :bil_type3, BILLING_TYPES,  prompt: 'Select' %>
  </div>

  <div class="col-md-1">
  <%= f.label "Bill Type" %>
  <%= f.select :bil_type4, BILLING_TYPES, prompt: 'Select'%>
  </div>

  <div class="col-md-12"> </div>
  <div class="col-md-7 col-md-offset-1">

  <%= f.text_area :notes, rows:10, placeholder: 'Notes' %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
</div>

<% end %>

