<% codehash = ClaimError.pluck(:code, :descr).to_h %>

<div class="row">
<div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">

<section>
<pre class="pre-scrollable-large">
<% if (HCP_PATIENT..WCB_PATIENT).include?(@visit.pat_type) %>
<b>Health Card # </b>: <%= @visit.hin_num %> 
<% elsif @visit.pat_type == IFH_PATIENT %>   
<b>IFH Visit Card# </b>: <%= @visit.hin_num %> 
<% else %>
<b>CASH VISIT </b>    
<% end %>   
<b>Doctor</b> : <%= @visit.doctor.lname %>
<% if @visit.temp.present? %>
<b>Vital signs</b>: Temp: <%= @visit.temp %> HR: <%= @visit.pulse %> Blood Pressure: <%= @visit.bp %> Weight: <%= @visit.weight %>
<% end %>
<% if @visit.diag_code.present? %>
<b>Diagnosis</b> : <%= @visit.diag_descr  %>
<% end %>
<b>Status: </b> <%= @visit.patient_status_str %>
</pre>

<% if @visit.reason.present? %>
<div class="panel panel-info">
   <div class="visit-notes-panel-body">
<b>Reason for Visit </b>: <%= @visit.reason %>
   </div>
</div>
<% end %>

<% if @visit.documents.present? %>
<b>Attached Documents</b>:
<% @visit.documents.each do |d| %>
   <% next unless d.document.file.present? %>
   <%= link_to d.document.file.filename, d.document.url.to_s %>
<% end %>
<% end %>

</section>
</div>
</div>



