<%= simple_form_for [@patient, @visit],  :html => {:multipart => true} do |f| %> 
  <%= f.error_notification %>

<%= f.hidden_field :vis_type, value: TELE_VISIT %>
<%= f.hidden_field :bil_type, value: HCP_BILLING %>
<%= f.hidden_field :status, value: ARRIVED %>
<%= f.hidden_field :doc_id, value: current_doctor.id rescue 1215 %>  <!-- !!!! Dr. Ostapenko -->

<div class="cyan-well">

<div class="row">
  <div class="col-sm-4">
  <%= f.input :doc_id, collection: get_active_doctors, label_method: :lname, value_method: :id, prompt: 'Select', selected: current_doctor.id, label:'Doctor', hint: 'Required', disabled: true %>
  </div>

  <div class="col-sm-2">
  <%= f.input :temp, label: "Temperature", hint:'Optional' %>
  </div>

  <div class="col-sm-2">
  <%= f.input :pulse, label: 'Heart Rate', hint:'Optional' %>
  </div>

  <div class="col-sm-2">
  <%= f.input :bp, as: :string, label:'Blood Pr. (H/L)', hint:'Optional' %>
  </div>

  <% if device_is_desktop? %>
  <div class="col-sm-2">
  <%= f.input :weight, label: 'Weight (Kg)', hint:'Optional' %>
  </div>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-12">
  <%= f.input :reason, as: :text, placeholder: 'Reason for visit', label: false, hint:'Required', input_html: {rows:3} %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12"> 
     <%= f.input :notes, placeholder: 'Note to doctor', label: false, input_html: {rows:2}, hint: 'Optional' %>
  </div>
</div>

<% if @visit.documents.present? %>
<b>Attached Documents</b>: |
<% @visit.documents.each do |d| %>
   <% next unless d.document.file.present? %>
   <%= link_to d.document.file.filename, d.document.url.to_s %> &nbsp;|&nbsp;
<% end %>
<% end %>
<p>

<div class="row">
  <div class="col-sm-12">
    <%= f.label 'Add Documents (pdf/jpg/png/txt)' %>
    <%= f.file_field :document, multiple: true, hint: 'Optional'  %>
  </div>
</div>

<% if action_name == 'new' %>
<p>
<%= render "consent_form", f: f %>
<% end %>

<div class="pt-3">
<% unless action_name == 'show' %>
    <%= f.button :submit, yield(:button_text), class: "btn btn-primary btn-block btn-lg" %>
<% end %>
</div>

<small><i>Please make sure the phone number shown in the title is correct. Otherwise doctor won't be able to reach you</i></small>
</div>


<% end %>

