<p>
<% remote = device_is_desktop? %>

<div class="row">
 <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
 <% if [ARRIVED,READY,ERROR].include?(@visit.status) || current_user.admin? %>
 <div class="col-sm-3 col-md-2">
  <%= button_to "Edit Visit", edit_patient_visit_path(@patient,@visit), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window', class: "btn btn-primary", method: "get" %>
 </div>
 <% end %>

<div class="col-sm-3 col-md-2">
<%= button_to "Visit Form", visitform_patient_visit_path(@patient,@visit), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window',  class:"btn btn-info", method: 'get'  %>
</div>

 <% if @visit.cash? %> 
 <div class="col-sm-3 col-md-2">
 <%= button_to "Receipt", receipt_patient_visit_path(@patient,@visit), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window', class: "btn btn-warning", method: 'get' %>
 </div>
 <% end %>
 
 <div class="col-sm-3 col-md-2">
 <%= button_to "Patient Profile", patient_path(@patient), class: "btn btn-danger", method: 'get'  %>
 </div>

 <% if @visit.billed_or_paid?  %>
 <div class="col-sm-3 col-md-2">
 <%= button_to "Add Cash Service", addcash_patient_visit_path(@patient,@visit), class: "btn btn-primary active", method: :get %>
 </div>
 <% end %>
 
 <% if !device_is_desktop? && @visit.editable? %>
 <div class="col-sm-3 col-md-2">
 <%= button_to "Voice Note", addvoicenote_patient_visit_path(@patient,@visit), class: "btn btn-primary active", method: :get %>
 </div>
 <% end %>

 <% if @visit.ready_to_bill? && @doctor.billing_format == CABMD_FORMAT %>
 <div class="col-sm-3 col-md-2">
 <%= button_to "Send to Cab.md", sendclaim_patient_visit_path(@patient), class: "btn btn-success", method: 'get'  %>
 </div>
 <% end %>

</div>
</div>

