<% remote = device_is_desktop? %>
<tr>
  <td><%= link_to visit.entry_ts, patient_visit_path(visit.patient,visit) %> </td>
  <td><%= visit.patient.full_name %> (<%= visit.patient.pat_type %>)</td>
  <td><%= visit.pat_type %></td>
  <td><%= visit.doctor.lname %></td>
  <td><%= visit.diag_scode %></td>
  <td><%= visit.proc_codes %></td>
  <td><%= visit.billing_ref %></td>
  <td>
  <% unless current_user.patient? %>  
  <% if visit.editable? || current_user.admin? %>
    <%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_patient_visit_path(visit.patient,visit), remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window', method: :get %>
  <% end %>
  <% end %>
  </td>
</tr>

