<li id="visit-<%= visit.id %>">
	<% if controller_name == "visits" %>
	   <span class="patient"><%= link_to time_tag(visit.entry_ts), patient_visits_path %> </span>
	<% else %>
           <% if @patient %>
	     <span class="patient"><%= link_to time_tag(visit.entry_ts), patient_visit_path(@patient,visit) %> </span>
          <% end %> 
	<% end %>

	<span class="visit"><b>Doctor:</b> <%= visit.doctor.lname %></span>
	<span class="visit"><b>Diagnosis:</b> <%= visit.diag_code %></span>
	<span class="visit"><b>Status:</b> <%= VISIT_STATUSES.invert[visit.status] %></span>
	<span class="visit"><b>Duration:</b> <%= visit.duration %> min</span>
	<span class="visit"><b>Type:</b> <%= visit.vis_type %></span>
</li>


