
<tr>
  <td><%= link_to visit.entry_ts.strftime("%Y-%m-%d %H:%M"), patient_visit_path(@patient,visit) %> </td>
  <td><%= visit.doctor.lname %></td>
  <td><%= visit.diag_scode %></td>
  <td><%= visit.proc_codes %></td>
  <td><%= VISIT_STATUSES.invert[visit.status] %></td>
  <td><%= visit.vis_type %></td>
</tr>

