<li id="visit-<%= visit.id %>">
	<% if controller_name == "visits" %>
	   <span class="patient"><%= link_to time_tag(visit.created_at), patient_visits_path %> </span>
	<% else %>
           <% if @patient %>
	     <span class="patient"><%= link_to time_tag(visit.created_at), patient_visit_path(@patient,visit) %> </span>
          <% end %> 
	<% end %>

  <span class="doctor">Patient: <%= visit.patient.lname %></span>
  <span class="doctor">Doctor: <%= visit.doctor.lname %></span>
  <span class="doctor">Diag. Code: <%= visit.diag_code %></span>
  <span class="doctor">Proc. Code: <%= visit.proc_code %></span>
</li>
