<li id="visit-<%= visit.id %>">
  <!--  <span class="patient"><%= link_to visit.patient.lname, visit.patient %></span> -->
  <span class="patient"><%= link_to time_tag(visit.created_at), visits_path + '/'+ visit.id.to_s %>  </span> 
  
  <span class="doctor">Doctor: <%= visit.doctor.lname %></span>
  <span class="doctor">Diag. Code: <%= visit.diag_code %></span>
  <span class="doctor">Proc. Code: <%= visit.proc_code %></span>
</li>
