<% provide(:title, 'All visits') %>
<%= render "shared/modal" %>

<table class="table table-hover table-striped table-bordered" >
  <thead>
      <tr>
          <th><%= sortable 'entry_ts', 'Date' %></th>
          <th class="tbl_lg">Patient</th>
	  <th class="tbl_sm">V.Type</th>
 	  <th>Doctor</th>
          <th><%= sortable 'diag_code', 'Diag Code' %></th>
          <th>Svc Code</th>
          <th>Bill Ref</th>
          <th class="tbl_sm"></th>
      </tr>
  </thead>
  <tbody>

    <%= render partial: 'unpaid_visit', collection: @visits, as: :visit %>

  </tbody>
</table>
<div class='spacer-20'></div>

<div class="row">
<div class="bottom_nav my_pagination">
<%= will_paginate(@visits) %>
</div>
</div>

