<%   
  @patient = Patient.find(@visit.patient_id) 
  @doctor = Doctor.find(@visit.doc_id)
  provide(:title, "#{@patient.full_name} : #{@visit.entry_ts}") 
%>

<h1> <%= @patient.full_name %> : Visit of <%= time_tag(@visit.entry_ts) =%> </h1>

<% diag = Diagnosis.find_by(code: @visit.diag_code) %>
<% codes = [@visit.proc_code, @visit.proc_code2, @visit.proc_code3, @visit.proc_code4] %>
<div class="row">
  <aside class="col-md-6 col-md-offset-3">
    <section class="user_info">
      <h1>
	   <pre>
		<b>Visit Type:</b> <%= VISIT_TYPES.invert[@visit.vis_type] %>
		<b>Doctor</b> :    <%= @visit.doctor.lname %>
		<b>Reason for Visit </b>: <%= @visit.reason %>
		<b>Vital signs</b>: T: <%= @visit.temp %> P: <%= @visit.pulse %> BP: <%= @visit.bp %>
		<b>Diagnosis</b> : <%= @visit.diag_code %> : <%= diag.descr rescue '' %>
		<b>Procedure(s)</b> : <%=  @visit.proc_codes %>
		<b>Billing Type(s) </b>: <%= BILLING_TYPES.invert[@visit.bil_type] %>, <%= BILLING_TYPES.invert[@visit.bil_type2] %>
		<b>Units </b>: <%= @visit.units %>
		<b>Duration </b>: <%= @visit.duration %> minutes
		<b>Status </b>: <%= VISIT_STATUSES.invert[@visit.status] %> 
		<b>Total fee </b>: <%=  sprintf '$%.2f',@visit.total_fee %>
		<b>Entry by </b>: <%= @visit.entry_by %>
		<b>Entered at </b>: <%= @visit.entry_ts %>
		<b>Notes </b>: <%= @visit.notes %>	     
		<% if @visit.provider_id %>
       	  	<% prov = Provider.find( @visit.provider_id ) %>
		<b>Insurance Provider </b>: <%= prov.name rescue '' %>
                <% end %>
           </pre>
      </h1>
    </section>

<p>
  <%= button_to "Edit Visit", edit_patient_visit_path(@patient), class: "btn btn-primary", :method => "get" %>
<p>
 <%= button_to "Print Visit Form", visitform_patient_visit_path(@patient), class: "btn btn-primary", method: 'get'  %>
<p>
 <%= button_to "Print Referral Form", referralform_patient_visit_path(@patient), class: "btn btn-primary", method: 'get'  %>

<p>
 <% if @visit.cash? %> 
 <%= button_to "Print Receipt", receipt_patient_visit_path(@patient), class: "btn btn-primary", method: 'get'  %>
 <% end %>
 
 <% if @visit.invoiced? %> 
 <%= button_to "Print Invoice", invoice_patient_visit_path(@patient), class: "btn btn-primary", method: 'get'  %>
 <% end %>

  </aside>
</div>


