<%   provide(:title, "#{@patient.full_name} : #{@visit.entry_ts}") %>

<h1> 
  <%= @patient.full_name %>, <%= @patient.age_str %>  <%= @patient.sex %> : Visit of <%= @visit.entry_ts.to_date %>
</h1>
	
<%= render "#{current_user.role}_show" %>


