<% provide(:title, "#{@patient.full_name} : #{@visit.entry_ts}") %>

<div>
	<h1> <%= @patient.full_name %> : Visit of <%= time_tag(@visit.entry_ts) =%> </h1>

<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h1>
	   <pre>
		Doctor :    <%= @visit.doctor.lname %>
		Diagnosis : <%= @visit.diag_code %>
		Procedure : <%= @visit.proc_code %>
  		Status: <%= @visit.status %>
  		Duration: <%= @visit.duration %>
  		Type: <%= @visit.vis_type %>
  		Entry by: <%= @visit.entry_by %>
  		Entered at: <%= @visit.entry_ts %>
		Notes: <%= @visit.notes %>	     
           </pre>
      </h1>
    </section>

    <%= button_to "Add Billing", new_patient_visit_billing_path(@patient,@visit), class:"btn btn-primary", method: 'get' %>

<% if current_user.admin?  %>
		   <p>
            <%= button_to "Edit Visit", edit_patient_visit_path(@patient), class: "btn btn-primary", :method => "get" %>
<% end %>

  </aside>

 <div class="col-md-6">
    <h3>Billings: (<%= @visit.billings.count %>)</h3>
    <% if @visit.billings.any? %>
      <ol class="microposts">
        <%= render @billings %>
      </ol>
    <% end %>
<%= will_paginate(@billings) %> <!-- , :renderer =>  WillPaginate::ActionView::LinkRenderer, class: 'pagination-sm') %> -->
  </div>
</div>

