<tr>
<td><%= claim.date %></td>
<td><%= claim.services.size %></td>
<td><%= sprintf("$%.2f",claim.damt_subm) %></td>
<td <%= claim.amt_subm == claim.amt_paid ? '':'class="hlight"'.html_safe %>> <%= sprintf("$%.2f",claim.damt_paid) %></td>
<td><%= claim.accounting_no %></td>
<td><%= "#{claim.ohip_num} #{claim.ohip_ver}" %></td>
<td><%= claim.province %></td>
<td><%= claim.pmt_pgm %></td>
<td><%= claim.ra_file %></td>
<td><%= claim.date_paid %></td>
</tr>
