<%= form_for @paystub do |f| %>
		
<%= render 'shared/error_messages', object: f.object %>

<!-- Row 1 --->
<div class="row">
<div class="col-sm-2 col-sm-offset-4" >
  <%= f.label "Select Doctor" %>
  <%= f.collection_select :doc_id, get_active_doctors, :id, :lname, selected: @paystub.doc_id %>
</div >
<div class="col-sm-2" >
  <%= f.label "Monthly Premium" %>
  <%= f.number_field :monthly_premium_amt, value:0, step: :any %>
</div>
</div>

<!-- Row 2 -->
<div class="row">
<div class="col-sm-2 col-sm-offset-4" >
  <%= f.label :IFH_payment %>
  <%= f.number_field :ifh_amt, value:0,  step: :any %>
</div>

<div class="col-sm-2" >
  <%= f.label :CASH_payment %>
  <%= f.number_field :cash_amt, value: 0, step: :any %>
</div>
</div>

<!-- Row 3 -->
<div class="row">
<div class="col-sm-2 col-sm-offset-4" >
  <%= f.label :WCB_payment %>
  <%= f.number_field :wcb_amt, value: 0, step: :any %>
</div>

<div class="col-sm-2" >
  <%= f.label :HC_Deposit %>
  <%= f.number_field :hc_dep_amt, value: 0, step: :any  %>
</div>
</div>

<!-- Row 4 -->
<div class="row">
<div class="col-sm-2 col-sm-offset-4" >
  <%= f.label :MHO_deduction %>
  <%= f.number_field :mho_deduction, value: 0, step: :any %>
</div>

<!-- Row 4 opt -->
<% if current_user.admin?  %>
<div class="col-sm-2" >
  <%= f.label :month %>
  <%= select_month Time.now, value: Time.now.month  %>
</div>
<% end %>
</div>


<div class="spacer-20"></div>

<!-- Row 5 -->
<div class="row">
<div class="col-sm-4 col-sm-offset-4">
  <%= f.submit yield(:button_text), class: "btn btn-primary" %> <!--,  :method => "patch", data: { confirm: "Are you sure you want to replace paystub for this doctor/month?" } -->
</div>
</div>

<% end %>


