<% provide(:title, @paystub.id) %>

<p>
    <div class="col-md-11 col-md-offset-1">
	   <pre>
	      Paystub id: <b><%= @paystub.id %> </b>

	      Doctor:     <%= @paystub.doctor.lname rescue ''%>
	      Year:	  <%= @paystub.year %>
	      Month:	  <%= @paystub.month %>

	      Total Claims:     <%= @paystub.claims %>
	      Total Services:   <%= @paystub.services %> 

	      Total Amount: <b>$<%= @paystub.net_amt %></b> OHIP: <b>$<%= @paystub.ohip_amt %></b> Other: <b>$<%= @paystub.non_ohip_amt %></b>
	      Monthly Premium Payment: <b>$<%= @paystub.monthly_premium_amt %></b>
	      IFH Payment: <b>$<%= @paystub.ifh_amt %></b>
           </pre>

<% if @visits.present?  %>
<table class="tbl table-hover" > <!--class="table table-hover table-condensed" > -->
  <thead>
      <tr>
	  <th>Date</th>
          <th>Patients</th>
	  <th>Services</th>
          <th>HCP</th>
	  <th>RMB</th>
	  <th>WCB</th>
          <th>MOH Subtotal</th>
	  <th>Total Billed</th>
          <th>Total Paid</th>
      </tr>
  </thead>
  <tbody>
        <%= render partial: "visit", collection: @visits %>
  </tbody>
</table>
<% end %>

<div class="bottom_buttons ">
<%# <%= will_paginate @visits, class: "btn" %>
<%#    <% if @paystub.filespec.blank? %> 
<%#       <%= button_to "Generate PDF", export_paystub_path, class: "btn btn-primary", :method => "get" %>
<%#    <% else %>
<%#       <%= button_to "Show PDF", show_pdf_paystub_path, class: "btn btn-primary", :method => "get" %>
<%#    <% end %>
</div>

</div>
