<% provide(:title, 'All users') %>
<%= render "shared/modal", size: 'sm' %>

<%= @users.count %> users
<table class="table table-hover table-striped table-bordered">
   <thead>
      <tr>
          <th> <%= sortable 'email', 'Email' %></th>
          <th class='text-center'>Role</th>
          <th class='text-center'>L.Name</th>
	  <th class='text-center'>Confirmed</th>
          <th class='text-center'><%= sortable 'created_at', 'Created' %></th>
	  <th class='text-center'><%= sortable 'sign_in_count', 'Sign In Count' %></th>
          <th class='text-center'><%= sortable 'last_sign_in_at', 'Last Sign in' %></th>
          <th class='text-center tbl_sm'>Edit</th>
          <th class='text-center tbl_sm'>Sw.To</th>
          <th class='text-center tbl_sm'>Del</th>
      </tr>
  </thead>
  <tbody>

  <%= render @users %>

  </tbody>
</table>

<div class="my_pagination">
<%= will_paginate @users %> 
</div>
