 <tr>
  <td><%= user.email %></td>
  <td class='text-center'><%= user.role %></td>
  <td class="text-center">
  <% if user.patient? %>
    <%= user.patient.lname rescue '' %>
  <% elsif user.doctor? %>
    <%= user.doctor.lname rescue '' %>
  <% end %>
  <td class='text-center'><%= user.confirmed? %></td>
  <td class='text-center'><%= user.created_at.to_date %></td>
  <td class='text-center'><%= user.sign_in_count %></td>
  <td class='text-center'><%= user.last_sign_in_at %></td>

   <% if current_user?(user) %>
       <td colspan=3></td>
     <% else %>
       <td class="text-center"><%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_user_path(user),  method: :get %> </td>
       <td class="text-center"><%= link_to '<i class="bi bi-people"></i>'.html_safe, switch_user_path(user),  method: :get %> </td>
       <td class="text-center"><%= link_to '<i class="bi bi-x-circle"></i>'.html_safe, user, method: :delete, data: { confirm: "Delete user #{user.name}, #{user.email}?" } %></td>
     <% end %>
 </tr>
