<div class="row">
<div class="col-md-12">

<%= simple_form_for @user,  :html => { :role => 'form'}  do |f| %>
<%= f.error_notification %>

  <div class="row" id="ohip_num" style="display: none">  
  <div class="col-md-9">
    <%= f.input :ohip_num %>
  </div>
  <div class="col-md-3">
  <%= f.input :ohip_ver %>
  </div>
  </div> 

  <div class="row">  
  <div class="col-md-12">
  <%= f.input :email, autofocus: true, input_html: { autocomplete: "email" } %>
  </div>
  </div>

  <div class="row">  
  <div class="col-md-12">
  <%= f.input :password %>
  </div>
  </div>

  <div class="row">  
  <div class="col-md-12">
  <%= f.input :password_confirmation  %>
  </div>
  </div>

<% disabled = true unless current_user.admin?  %>
  <% if current_user.admin? %>
  <div class="row" >  
  <div class="col-md-12">
  <%= f.input :role, collection: USER_ROLES, include_blank: false, disabled: disabled  %>
  </div>
  </div>
<% end %>
  
  <div class="row" id='doctor'>  
  <div class="col-md-12">
  <%= f.input :doctor_id, collection: get_active_doctors, value_method: :id, label_method: :lname, label: "Doctor", include_blank: 'Please Select', disabled: disabled %>
  </div>
  </div>

<div class="row mt-3">  
  <div class="col-md-12">
<%= f.button :submit, yield(:button_text), class: "btn btn-primary" %>
  </div>
</div>

<% end %>

</div>
</div>


<script>
  $(document).ready(function () {
    var role = $('select[name="user[role]"]');

   (role.val() =='doctor') ? $('#doctor').show() : $('#doctor').hide();
   role.change(function () {
     (role.val() =='doctor') ? $('#doctor').show() : $('#doctor').hide();

  });
  });

</script>

