<%= form_for (@user)  do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<div class="row">
  <%= f.label :Username, class: "col-sm-6 control-label"%>
  <div class="col-sm-6">
  <%= f.text_field :name, class: "form-control" %>
  </div>
</div>

<div class="row">
  <%= f.label :Email, class: "col-sm-6 control-label" %>
  <div class="col-sm-6">
  <%= f.email_field :email, class: "form-control" %>
  </div>
</div>

<div class="row">
  <%= f.label :Password, class: "col-sm-6 control-label" %>
  <div class="col-sm-6">
  <%= f.password_field :password, class: 'form-control' %>
  </div>
</div>

<div class="row">
  <%= f.label :Password_confirmation, class: "col-sm-6 control-label" %>
  <div class="col-sm-6">
  <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
</div>

<% if current_user.admin?  %>
<div class="row">
  <div class="col-sm-6">
  <%= f.label :Administrator, class: "control-label" %> 
  </div>
  <div class="col-sm-6">
  <%= f.check_box :admin  %>
  </div>
</div>
<% end %>

<div class="spacer-20"></div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-6">
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
</div>

<% end %>
