<div class="well">

<%= simple_form_for @user,  :html => { :role => 'form'}  do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation  %>
<% if current_user.admin?  %>
  <%= f.input :role, collection: USER_ROLES  %>
<% end %>

<%= f.button :submit, yield(:button_text), class: "btn btn-primary" %>
<% end %>

</div>
