 <tr>
  <td><%= user.email %></td>
  <td class='text-center'><%= user.role %></td>
  <td class='text-center'><%= user.confirmed? %></td>
  <td class='text-center'><%= user.created_at.to_date %></td>

   <% if current_user?(user) %>
       <td colspan=3></td>
     <% else %>
       <td class="text-center"><%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_user_path(user) %>
       <td class="text-center"><%= link_to '<i class="bi bi-people"></i>'.html_safe, switch_user_path(user),  method: :get %> </td>
       <td class="text-center"><%= link_to '<i class="bi bi-x-circle"></i>'.html_safe, user, method: :delete, data: { confirm: "Delete user #{user.name}, #{user.email}?" } %></td>
     <% end %>
 </tr>
