<% provide(:title, @user.name) %>

	<h1><%= @user.name %> -  User's profile </h1>

<div class="row justify-content-sm-center">
  <div class="col-sm-6 col-sm-offset-3">
	   <pre>
	      Username: <%= @user.name %>
	      Email: <%= @user.email %>
	      Admin?: <%= @user.admin %>
           </pre>
	    
	    <%= button_to "Edit", edit_user_path(@user), class: "btn btn-primary", :method => "get" %>
        
  </div>
</div>

