      <tr>
        <td><%= Date::DAYNAMES[schedule.dow] %></td>
        <td>Dr. <%= schedule.doctor.lname %></td>
        <td><%= schedule.start_time.strftime("%l:%M%p") %></td>
        <td><%= schedule.end_time.strftime("%l:%M%p") %></td>
        <td><%= schedule.weeks.present? ? schedule.weeks : 'Every Week' %></td>
	<% unless current_user.doctor? %>
	<td>
          <% if remote %>
            <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_schedule_path(schedule), remote: true, 'data-bs-toggle':  "modal", 'data-bs-target': '#modal-window' %>
          <% else %>
            <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_schedule_path(schedule) %>
          <% end %>
        </td>

	<td><%= link_to '<i class="bi bi-x-square"></i>'.html_safe, schedule,
		method: :delete, data: { confirm: "Are you sure you want to delete schedule for Dr. #{schedule.doctor.full_name} ?" } %>
	</td>
        <% end %>
      </tr>
