<% provide(:title, 'Patient Charts') %>
<%= render "shared/modal", size: 'lg' %>

<table class="table table-hover table-striped table-bordered">
  <thead>
      <tr>
	  <th><%= sortable 'filename', :Patient %></th> 
          <th class='text-center'>Pages</th>
	  <th class='text-center'>Size(M)</th>
	  <th class='text-center'>Created</th>
	  <th class='text-center'>Updated</th>
	  <th class='text-center'>Download</th>
	  <th class='text-center'>View</th>
      </tr>
  </thead>
  <tbody>

  <%= render @charts %>

  </tbody>
</table>

<div class="bottom_buttons">
<% unless current_user.doctor? %>
  <%= button_to "Upload Chart", new_chart_path, class: "btn btn-primary col-md-2", method: :get %> <%#, remote: device_is_desktop?, 'data-toggle':  "modal", 'data-target': '#modal-window' %>
<% end %>
</div>

<div class="my_pagination">
<%= will_paginate @charts %>
</div>

