<% noedit ||= false %>
<div class='well'>
<%= simple_form_for @vaccine do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.input :name %>
  <%= f.input :target %>
  <%= f.input :route %>
  <%= f.input :dose %>
  <%= f.input :din %>
  <%= f.input :notes, placeholder: 'Notes', label: false %>
  <% unless noedit %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>

<% end %>
</div>

