<% doc = Doctor.find_by(provider_no: edt_file.provider_no) %>
     <tr>
        <% if edt_file.filespec.present? && File.exists?(edt_file.filespec) && device_is_desktop? %>
          <td><%= link_to edt_file.id, edt_file, remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %></td>
        <% else %>
	  <td class='tbl_sm'><%= edt_file.id %></td>
        <% end %>

        <td><%= edt_file.ftype_str %></td>
        <td class='tbl_md'><%= doc.lname %></td>
	<td class='tbl_md'><%= edt_file.filename %></td>
	<% if edt_file.filespec.present? && File.exists?(edt_file.filespec) %>
           <td class='tbl_md'><%= link_to '<i class="glyphicon glyphicon-download"></i>'.html_safe, download_edt_file_path(edt_file)  %></td>
        <% else %>
	   <td class='tbl_md'><%= link_to '<i class="glyphicon glyphicon-question-sign"></i>'.html_safe, download_edt_file_path(edt_file)  %></td>
	<% end %>
        <td><%= edt_file.upload_date %></td>
	<td><%= edt_file.lines %></td>
	<td cless='tbl_sm'><%= edt_file.claims %></td>
	<td cless='tbl_sm'><%= sprintf("$%.2f",edt_file.total_amount) %></td>
  	<% if current_user.admin?  %>
	   <td> <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, edt_file, metdod: :delete, data: { confirm: "Are you sure you want to delete #{edt_file.filename}?" } %> </td>
	<% end %>
     </tr>
