<%
   provide(:title, "EDT #{@edt_file.ftype_str} file")
   @doctor = Doctor.find_by(provider_no: @edt_file.provider_no)
%>
 
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<b class="modal-title" id="myModalLabel">
	<%= @edt_file.ftype_str %> file:
	<%= "Dr. #{@doctor.lname}:" if @doctor  %>
	<%= @edt_file.claims %> claims, <%= @edt_file.services %> services; total: <%= sprintf("$%.2f",@edt_file.total_amount) %></b>
</div>
<div class="modal-body">
	<iframe id="myModal" src="/edt_files/<%= @edt_file.id %>" frameborder="0" width="100%" height="600px"></iframe>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" class="close" data-dismiss="modal">Dismiss</button>
</div>


