<% provide(:title, 'EDT Files') %>

<%= render 'shared/modal' %>

<table class="tbl table-hover"> 
  <thead>
      <tr>
	  <th class='tbl_md'><%= sortable 'filename', 'File' %></th>
	  <th class='tbl_md'><%= sortable 'ftype', 'Type' %></th>
	  <th class='tbl_md'><%= sortable 'seq_no', 'Seq No' %></th>
          <th class='tbl_md'><%= sortable 'provider_no', 'Provider' %></th>
	  <th><%= sortable 'upload_date', 'Uploaded' %></th>
	  <th cless='tbl_md'>Doctors</th>
	  <th cless='tbl_md'>Claims</th>
          <th class='tbl_md'>Services</th>
	  <th cless='tbl_md'>Total Amt</th>
	  <th class='tbl_sm'></th>
	   <% if current_user.admin?  %>
          <th class='tbl_sm'></th>
	  <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @edt_files if @edt_files.present? %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @edt_files, class: "btn" if @edt_files %> 
</div>
