<% provide(:title, 'EDT Files') %>

<%= render 'shared/modal' %>

<table class="table table-hover table-striped table-bordered"> 
  <thead>
      <tr>
	  <th class='tbl_md'><%= sortable 'filename', 'File' %></th>
	  <th class='tbl_xmd'><%= sortable 'ftype', 'Type' %></th>
	  <th class='tbl_sm'><%= sortable 'id', 'Batch' %></th>
          <th class='tbl_md'><%= sortable 'provider_no', 'Provider' %></th>
	  <th><%= sortable 'upload_date', 'Uploaded' %></th>
	  <th cless='tbl_sm'>Doctors</th>
	  <th cless='tbl_sm'>Claims</th>
          <th class='tbl_sm'>Services</th>
	  <th cless='tbl_sm'>Total Amt</th>
	  <th class='tbl_md'>Status</th>
	  <th class='tbl_md'></th>
	   <% if current_user.admin?  %>
          <th class='tbl_sm'></th>
	  <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @edt_files if @edt_files.present? %>

  </tbody>
</table>

<div class="my_pagination">
<%= will_paginate @edt_files if @edt_files %> 
</div>
