<% provide(:title, 'All Referrals') %>
<%= render 'shared/modal' %>

<table class="tbl table-hover" >
  <thead>
      <tr>
	  <th class="tbl_sm"><%= sortable 'id', '#' %> </th>
	  <th class="tbl_md"><%= sortable 'patient_id', 'Re: Patient' %></th>
	  <th> <%= sortable 'date' %></th>
	  <th class="tbl_lmd">Ref. Doctor</th>
	  <th class="tbl_lmd">To</th>
	  <th class="tbl_lmd">Address</th>
	  <th class="tbl_lmd">Phone</th>
	  <th class="tbl_sm"></th>
	  <th class="tbl_sm"></th>
	  <th class="tbl_sm"></th>
      </tr>
  </thead>
  <tbody>
  <%= render @referrals, remote: device_is_desktop? %>
  </tbody>
</table>

<div class="bottom_nav">
<%= will_paginate @referrals, class: "btn" %>
</div>
