<% patient = Patient.find(letter.patient_id) %>

    <tr>
	<td><%= link_to "#{letter.id}", letter, remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window' %> </td>
	<td><%= link_to patient.lname, patient %></td>
	<td><%= letter.from %></td> 
	<td><%= letter.to %></td> 
	<td><%= letter.address_to %></td> 
	<td><%= letter.title  %> </td> 
	<td><%= letter.date %></td> 
	<td><%=  link_to '<i class="glyphicon glyphicon-download"></i>'.html_safe, download_letter_path(letter)  %></td>
	<td><%=  link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_letter_path(letter), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window' %></td>
  	<% if current_user.admin?  %>
	<td> <%= link_to '<i class="glyphicon glyphicon-remove-sign"></i>'.html_safe, letter, method: :delete, data: { confirm: "Are you sure you want to delete letter # #{letter.id} ?" } %> </td>
	<% end %>
     </tr>



