<%= simple_form_for (@patient) do |f| %>
  <%= f.error_notification %>
<!-- Row 1 -->
<div class="row">
  <div class="col-sm-3">
     <%= f.input :lname, hint: 'Required'%>
  </div>

  <div class="col-sm-3">
  <%= f.input :fname %>
  </div>

  <div class="col-sm-2">
  <%= f.input :mname, label: 'Middle Name' %>
  </div>

  <div class="col-sm-2">
  <%= f.input :sex, collection: SEXES, hint: 'Required', label: 'Gender', include_blank: false %>
  </div>
  
  <div class="col-sm-2" id="pat_type">
	  <%= f.input :pat_type, collection: PATIENT_TYPES, label: 'Type', include_blank: false,
	      label_html: { "data-toggle": 'tooltip', class: "has-tip", 
              title: "HCP: OHIP covered;\n RMB: Out of Province;\n CSH: Cash; \n DEC: Deceased"}
          %>
  </div>
</div>

<!-- Row 2 -->
<div class="row">
  <div class="col-sm-3" id="maiden_name">
  <%= f.input :maid_name, label: 'Maiden Name' %>
  </div>
  
</div>

<div class="row">
  <div class="col-sm-3" id="ifh_number", style="display:none;">
  <%= f.input :ifh_number, label:'IFH Number', hint: 'Required *' %>
  </div>

  <div class="col-sm-3" id="ohip_number">
  <%= f.input :ohip_num, label: 'Health Card Number', hint: 'Required *' %>
  </div>

  <div class="col-sm-1 padding-0" id="ohip_ver">
     <%= f.input :ohip_ver, label: 'Version' %>
  </div>

  <div class="col-sm-1" id="hin_prov" >
  <%= f.input :hin_prov, collection: PROVINCES, label: 'Prov.', include_blank: false %>
  </div>
  
  <div class="col-sm-3" id="hin_expiry">
     <%= f.input :hin_expiry, start_year: Date.today.year, end_year: Date.today.year+5, html5: true, label: "Expires On", hint: 'Required' %>
  </div>
  
  <div class="col-sm-3">
  <%= f.input :dob, as: :date, start_year: 1900, end_year: Date.today.year, hint: 'Required', html5: true %>
  </div>
  
  <% unless current_user.patient? %>
  <div class="col-sm-1">
	  <%= f.input :clinic_pat, label: 'Clinic Patient' %>
  </div>
  <% end %>

</div>
  
<!-- Row 3 -->
<div class="row">

  <div class="col-sm-4">
  <%= f.input :addr, label: 'Srteet Address' %>
  </div>
  
  <div class="col-sm-3">
  <%= f.input :city %>
  </div>
  
  <div class="col-md-1">
  <%= f.input :prov, collection: PROVINCES, include_blank: false %>
  </div>
  
  <div class="col-sm-2">
	  <%= f.input :country, collection: ['Canada','US','Other'] %>
  </div>

  <div class="col-sm-2">
  <%= f.input :postal %>
  </div>
</div>

<!-- Row 4 -->

<div class="row">
  <div class="col-sm-3">
  <%# f.input :family_dr, label: 'Family Doctor' #%>
  <%= f.input :family_dr, collection: Doctor.all, label_method: :lname, value_method: :lname, prompt: 'Select', hint: 'Optional' %>
  </div>
  
  <div class="col-sm-3">
  <%= f.input :phone, as: :tel,  value: num_to_phone(@patient.phone), hint: 'Required'  %>
  </div>
  
  <div class="col-sm-3">
  <%= f.input :mobile, as: :tel, value: num_to_phone(@patient.mobile) %>
  </div>
  
  <div class="col-sm-3">
  <%= f.input :email %>
  </div>
</div>

<!-- Row 5 -->
<div class="row">
  <div class="col-sm-3">
  <%= f.input :pharmacy %>
  </div>
  
  <div class="col-sm-2">
  <%= f.input :pharm_phone, as: :tel, label: 'Pharm. Phone', value: num_to_phone(@patient.pharm_phone) %>
  </div>
  
  <div class="col-sm-2">
  <%= f.input :pharm_fax, as: :tel, label: 'Pharmacy Fax', value: num_to_phone(@patient.pharm_fax) %>
  </div>
  
  <div class="col-sm-3">
  <%= f.input :alt_contact_name, label: 'Emergency Contact' %>
  </div>

  <div class="col-sm-2">
  <%= f.input :alt_contact_phone, as: :tel, label: 'Contact phone' %>
  </div>
</div>
  
<!-- Row 6 -->  
<div class="row">
  <div class="col-sm-12">
  <%= f.input :allergies,  placeholder: 'List of current allergies, if any'  %>
  </div>
</div>

<!-- Row 7 -->
<div class="row">
  <div class="col-sm-12">
  <%= f.input :meds, as: :text, rows:2, placeholder: 'List of current Medications (This field is being phased out, please use [+Medications] button on patient summary page instead). Once all medications are entered, you can delete text from here', label:'Current Medications' %>
  </div>
</div>

<!-- Row 8 -->
<% unless current_user.patient? %>
<div class="row">
  <div class="col-sm-12">
  <%= f.input :notes, rows:4 %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-12">
  <%= f.button :submit, 'Save Record', class: "btn btn-primary" %>
  </div>
</div>

<% end %>

<script defer>
$('body').tooltip({ selector: "[data-toggle~='tooltip']"});
$(document).ready(function () {
// Show maiden name text field for female patients 
   var sex = $('select[name="patient[sex]"]');
	
   (sex.val() =='F') ? $('#maiden_name').show() : $('#maiden_name').hide();
   sex.change(function () {
     (sex.val() =='F') ? $('#maiden_name').show() : $('#maiden_name').hide();
   });


// Show IFH number text field for IFH patients
   var pat_type = $('select[name="patient[pat_type]"]');	

   if (pat_type.val() == 'I') {
     $('#ifh_number').show();
     $('#ohip_number').hide();
     $('#ohip_ver').hide();
   } else if (pat_type.val() == 'S') {
     $('#ifh_number').hide();
     $('#ohip_number').hide();
     $('#ohip_ver').hide();
     $('#hin_prov').hide();
     $('#hin_expiry').hide();
   } else {
     $('#ifh_number').hide();
   }
   
// Do not allow changes to HC#, IFH#, Patient type if patient has visits and mode is other than admin   
//   if ('<%= action_name %>' == 'edit' && '<%= current_user.admin? %>' == 'false' && Number('<%= @patient.visits.size %>') > '1') {
//      pat_type.attr('disabled', true);
//      $('#patient_ifh_number').prop('readonly', true);
//      $('#patient_ohip_num').prop('readonly',true);
//   }

   pat_type.change(function () {
     if (pat_type.val() == 'I') {
       $('#ifh_number').show();
       $('#ohip_number').hide();
       $('#ohip_ver').hide();
     } else if (pat_type.val() == 'S') {
       $('#ifh_number').hide();
       $('#ohip_number').hide();
       $('#ohip_ver').hide();
       $('#hin_prov').hide();
       $('#hin_expiry').hide();
     } else {
       $('#ifh_number').hide();
       $('#ohip_number').show();
       $('#ohip_ver').show();
     }
   });
	
   var pmt_opt = document.getElementById('patient_pat_type').getElementsByTagName("option");
   var hin_prov = $('select[name="patient[hin_prov]"]');	     
   hin_prov.change(function () {
     if (hin_prov.val() == 'ON') {
        $(pat_type).val('O');
	pmt_opt[0].disabled = false;
	pmt_opt[1].disabled = true;
     } else {
        $(pat_type).val('R');
	pmt_opt[0].disabled = true;
	pmt_opt[1].disabled = false;
     }

   });
   	
});
</script>

