<% remote = device_is_desktop? %>
<% hcnum = "Health Card: #{@patient.ohip_num} #{@patient.ohip_ver} (#{@patient.hin_prov}) Expires: #{@patient.hin_expiry}" %>
<% ifhnum = "IFH #: #{@patient.ifh_number}" if @patient.ifh_number.present? %> 

<div class="row">
  <aside class="col-md-6">
<pre class="pre-scrollable-lg">
<% if @patient.pat_type == CASH_PATIENT %>
<b>CASH PATIENT</b> <%= link_to '<i class="glyphicon glyphicon-credit-card"></i>'.html_safe, label_patient_path(@patient), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window',  method: 'get', onclick: "set_md_modal()" %>
<% else %>
<b>INSURED PATIENT</b> <%= link_to '<i class="glyphicon glyphicon-credit-card"></i>'.html_safe, label_patient_path(@patient), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window',  method: 'get', onclick: "set_md_modal()" %>
<%= hcnum if hcnum.present? %>
<%= ifhnum if ifhnum.present? %>
<% end %>
<b><%= @patient.full_name %>: <%= "(#{@patient.maid_name})" if @patient.maid_name %></b> <%= @patient.age_str %> <%= @patient.full_sex %>; Born: <%= @patient.dob %><% if @patient.chart.present? %> <%= link_to '<i class="glyphicon glyphicon-copy"></i>'.html_safe, chart_patient_path(@patient) %> <% end %>
<%= "Phone: #{num_to_phone(@patient.phone)}" if @patient.phone.present? %> <%= "Mobile: #{num_to_phone(@patient.mobile)}" if @patient.mobile.present? %> <%= "Email: #{@patient.email}" if @patient.email.present? %> 
<%= "Address: #{@patient.addr_full}" if @patient.addr.present? %>
<% if @patient.allergies.present? %>
Allergies: <%= @patient.allergies %>
<% end %>
<!-- active meds for this pat -->
<% if @patient.med_list %>
Medications:
     <%= @patient.med_list.join("\n     ") %>
<% end %> </b>
<% if @patient.meds.present? %>
<font color='red'><i> Old Medications to be deleted after conversion: <%= @patient.meds %> </i></font>
<% end %>
<% if @patient.pharmacy.present? || @patient.pharm_phone.present? %>
<b>Pharmacy:</b> <%= @patient.pharmacy if @patient.pharmacy %>  <%= " ph: #{@patient.pharm_phone}" if  @patient.pharm_phone %>
<% end %>
<% if @patient.latest_medication_renewal.present? %>
<b>Latest medication renewal: </b> <%= @patient.latest_medication_renewal.to_date %> 
<% end %>
</pre>
	 
 <% if @patient.notes.present? %> 
 <div class="panel panel-info">
   <div class="patient-notes-panel-body">
	   <% html_str = "<pre class='notes'> #{@patient.notes} </pre>" %>
	   <%= html_str.html_safe %>
   </div>
</div>
<% end %>

&nbsp; <%= render("medications", remote: remote) if @patient.medications.any? %>
&nbsp; <%= render("prescriptions", remote: remote) if @patient.prescriptions.any? %>
&nbsp; <%= render("invoices", remote: remote) if @patient.invoices.any? %>
&nbsp; <%= render("letters", remote: remote) if @patient.letters.any? %>
&nbsp; <%= render("referrals", remote: remote) if @patient.referrals.any? %>
&nbsp; <%= render("patient_docs", remote: remote) if @patient.patient_docs.any? %>

   <%= render "buttons", remote: remote  %> 

</aside>

<%= render "admin_#{device_type}_visits" %>

</div>



