<% unless @patient.pat_type == DECEASED_PATIENT %>
<div id="new_visit" class="col-sm-2 col-md-2">
<%= button_to 'New Visit', new_patient_visit_path(@patient), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window', class:"btn btn-primary btn-lg", method: 'get'  %> 
</div> 
<% end %>

<div id="medication" class="col-sm-2 col-md-2">
<%= button_to "+Medication", new_patient_medication_path(@patient), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window', class: "btn btn-danger btn-lg", method: 'get' %>
</div>    

<% if @patient.med_count >0 %>
<div id="prescription" class="col-sm-2 col-md-2">
<%= button_to "Prescription", new_patient_prescription_path(@patient), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window', class:"btn btn-info btn-lg", method: 'get'  %>
</div>
 <% end %>

<div id="invoice" class="col-sm-2 col-md-2">
<%= button_to "Invoice", new_patient_invoice_path(@patient), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window', class: "btn btn-warning btn-lg", method: 'get' %>
</div>

<div id="letter" class="col-sm-2 col-md-2">
<%= button_to "Letter", new_patient_letter_path(@patient), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window', class: "btn btn-success btn-lg", method: 'get' %>
</div>

<div id="referral" class="col-sm-2 col-md-2">
<%= button_to "Referral", new_patient_referral_path(@patient), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window', class: "btn btn-primary btn-lg disabled", method: 'get' %>
</div>    

<div id="referral" class="col-sm-2 col-md-2">
<%= button_to "Spec. Report", new_patient_spec_report_path(@patient), class: "btn btn-success disabled", method: 'get' %>
</div>    
    

