<% provide(:title, 'All patients') %>
<%= render 'shared/modal' %>

<%
    lname = (@sort == 'lname' && @direction == 'asc')?"Name &nbsp;&nbsp;<i class='bi bi-sort-alpha-down'></i>":"Name &nbsp;&nbsp;<i class='bi bi-sort-alpha-up'></i>" 
    dob = (@sort == 'dob' && @direction == 'asc')?"DOB &nbsp;<i class='bi bi-sort-numeric-down'></i>":"DOB &nbsp;<i class='bi bi-sort-numeric-up'></i>" 
%>

<table class="table table-hover table-striped table-bordered table-responsive"> 
  <thead>
      <tr>
          <th class="tbl_lmd"><%= sortable 'lname', lname.html_safe %></th>
          <th class="tbl_sm text-center">Gen</th>
          <th class="tbl_sm text-center">Age</th>
	  <th class="tbl_sm text-center">Type</th> 
	  <th class="tbl_md text-center">Last Visit </th>
          <th class="text-center"><%= sortable 'ohip_num', 'HC/IFH#' %></th>
	  <th class="text-center">Expiry</th> 
	  <th class="text-center"><%= sortable 'dob', dob.html_safe %></th> 
          <th class="text-center">Phone</th>
 	  <th class="tbl_sm text-center">Lbl</th>
 	  <th class="tbl_sm"></th>
	  <%= "<th class='tbl_sm'></th>".html_safe if current_user.admin? %>
          <th class="tbl_sm text-center">Chrt</th>
      </tr>
  </thead>
  <tbody>

  <%= render @patients, cached: true %>

  </tbody>
</table>

<div class="bottom_buttons">
<%= button_to "New Patient", new_patient_path, remote: device_is_desktop?, 'data-bs-toggle':  "modal", 'data-bs-target': '#modal-window', class: "btn btn-primary col-md-2", method: "get"  %>
</div>

<div class="my_pagination">
<%= will_paginate @patients  %> 
</div>

