<%= simple_form_for (@patient) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<!-- Row 1 -->
<div class="row">
  <div class="col-sm-3">
     <%= f.input :lname, hint: 'Required'%>
  </div>

  <div class="col-sm-3">
  <%= f.input :fname %>
  </div>

  <div class="col-sm-2">
  <%= f.input :mname, label: 'Middle Name' %>
  </div>

  <div class="col-sm-2">
  <%= f.input :sex, collection: SEXES, selected: 'Male', hint: 'Required', label: 'Gender' %>
  </div>
  
  <div class="col-sm-2">
  <%= f.input :pat_type, collection: PATIENT_TYPES, selected: 'HCP', hint: 'Required', label: 'Payment Type' %>
  </div>
</div>

<!-- Row 2 -->
<div class="row">
  <div class="col-sm-3" id="maiden_name", style="display:none;">
  <%= f.input :maid_name %>
  </div>
  
  <div class="col-sm-3" id="ifh_number", style="display:none;">
  <%= f.input :ifh_number, label:'IFH Number', hint: 'Required' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
  <%= f.input :ohip_num, label: 'OHIP Number', hint: 'Required *' %>
  </div>

  <div class="col-sm-2">
	  <%= f.input :ohip_ver, label: 'Version Code' %>
  </div>
  
  <div class="col-sm-1">
  <%= f.input :hin_prov, collection: PROVINCES, label: 'Prov.', selected: 'ON' %>
  </div>
  
  <div class="col-sm-3">
  <%= f.input :hin_expiry, as: :date, start_year: Date.today.year, end_year: Date.today.year+5, html5: true, label: "Expires On", hint: 'Required *' %>
  </div>
  
  <div class="col-sm-3">
  <%= f.input :dob, as: :date, start_year: 1900, end_year: Date.today.year, hint: 'Required', html5: true %>
  </div>
</div>
  
<!-- Row 3 -->
<div class="row">

  <div class="col-sm-4">
  <%= f.input :addr, label: 'Srteet Address' %>
  </div>
  
  <div class="col-sm-2">
  <%= f.input :city %>
  </div>
  
  <div class="col-sm-2">
  <%= f.input :prov, collection: PROVINCES, selected: 'ON' %>
  </div>
  
  <div class="col-sm-2">
	  <%= f.input :country, collection: ['Canada','US','Other'], selected: "Canada" %>
  </div>

  <div class="col-sm-2">
  <%= f.input :postal %>
  </div>
</div>

<!-- Row 4 -->

<div class="row">
  <div class="col-sm-3">
  <%= f.input :family_dr, label: 'Family Doctor' %>
  </div>
  
  <div class="col-sm-3">
  <%= f.input :phone, as: :tel,  value: num_to_phone(@patient.phone)  %>
  </div>
  
  <div class="col-sm-3">
  <%= f.input :mobile, as: :tel, value: num_to_phone(@patient.mobile) %>
  </div>
  
  <div class="col-sm-3">
  <%= f.input :email %>
  </div>
</div>

<!-- Row 5 -->
<div class="row">
  <div class="col-sm-3">
  <%= f.input :pharmacy %>
  </div>
  
  <div class="col-sm-3">
  <%= f.input :pharm_phone, as: :tel, label: 'Pharmacy Phone', value: num_to_phone(@patient.pharm_phone) %>
  </div>
  
  <div class="col-sm-3">
  <%= f.input :alt_contact_name, label: 'Emergency Contact' %>
  </div>

  <div class="col-sm-3">
  <%= f.input :alt_contact_phone, as: :tel, label: 'Contact phone' %>
  </div>
</div>
  
<!-- Row 6 -->  
<div class="row">
  <div class="col-sm-12">
  <%= f.input :allergies,  placeholder: 'Allergies', label: false  %>
  </div>
</div>

<!-- Row 7 -->
<div class="row">
  <div class="col-sm-12">
  <%= f.input :medications, as: :text, rows:2, placeholder: 'Medications', label: false %>
  </div>
</div>

<!-- Row 8 -->
<div class="row">
  <div class="col-sm-12">
  <%= f.input :notes, rows:4, placeholder: 'Patient Notes', label: false %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
  <%= f.button :submit, "Save Patient's record", class: "btn btn-primary" %>
  </div>
</div>

<% end %>

<script>
$('body').tooltip({ selector: "[data-toggle~='tooltip']"});
$(document).ready(function () {
// Show maiden name text field for female patients 
   var sex = $('select[name="patient[sex]"]');
	
   (sex.val() =='F') ? $('#maiden_name').show() : $('#maiden_name').hide();
   sex.change(function () {
     (sex.val() =='F') ? $('#maiden_name').show() : $('#maiden_name').hide();
   });

// Show IFH number text field for IFH patients
   var pat_type = $('select[name="patient[pat_type]"]');	
	
   (pat_type.val() == 'I') ? $('#ifh_number').show() : $('#ifh_number').hide();
   pat_type.change(function () {
     (pat_type.val() == 'I') ? $('#ifh_number').show() : $('#ifh_number').hide();
   });
	
   	
});
</script>

