<%= form_for (@patient) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<div class="row">
  <div class="col-md-12 col-md-offset-1">

  <%= f.label 'H Card', class: "col-md-1 control-label" %>
  <div class="col-md-2 padding-0">
  <%= f.text_field :ohip_num %>
  </div>

  <div class="col-md-1">
  <%= f.text_field :ohip_ver %>
  </div>
  
  <%= f.label 'Prov', class: "col-md-1 control-label" %>
  <div class="col-md-1">
  <%= f.select :hin_prov, $provinces %>
  </div>
  
  <%= f.label 'Expires', class: "col-md-1 control-label" %>
  <div class="col-md-2">
  <%= f.date_field :hin_expiry, start_year: Date.today.year, end_year: Date.today.year+5 %>
  </div>

  <div class="col-md-12"> &nbsp; </div>

  <%= f.label 'Last Name', class: "col-md-1 control-label" %>
  <div class="col-md-2 padding-0">
  <%= f.text_field :lname %>
  </div>

  <%= f.label :'First Name', class: "col-md-1 control-label" %>
  <div class="col-md-2">
  <%= f.text_field :fname %>
  </div>

  <%= f.label :Sex, class: "col-md-1 control-label" %>
  <div class="col-md-2">
  <%= f.select(:sex, $sexes ) %>
  </div>
  
  <div class="col-md-12"> &nbsp; </div>

  <%= f.label :"DOB", class: "col-md-1 control-label" %>
  <div class="col-md-2">
	  <%= f.date_field :dob, class: "datepicker", start_year: 1900, end_year: Date.today.year %>
  </div>

  <%= f.label :Phone, class: "col-md-1 control-label" %>
  <div class="col-md-2 padding-0">
	  <%= f.phone_field :phone, value: number_to_phone(@patient.phone)  %>
  </div>
  
  <%= f.label :Mobile, class: "col-md-1 control-label" %>
  <div class="col-md-2">
  <%= f.phone_field :mobile, value: number_to_phone(@patient.mobile) %>
  </div>
  
  <div class="col-md-12"> &nbsp; </div>

  <%= f.label :Address, class: "col-md-1 control-label" %>
  <div class="col-md-3 padding-0">
  <%= f.text_field :addr %>
  </div>

  <%= f.label :City, class: "col-md-1 control-label" %>
  <div class="col-md-2 padding-0">
  <%= f.text_field :city, class: "padding-0" %>
  </div>
  
  <div class="col-md-1">
  <%= f.select(:prov, $provinces ) %>
  </div>

  <div class="col-md-1">
  <%= f.text_field :postal, placeholder: 'Postal'%>
  </div>

  <div class="col-md-12"> &nbsp; </div>

  <%= f.label :family_doctor, class: "col-md-1 control-label" %>
  <div class="col-md-2 padding-0">
  <%= f.text_field :family_dr %>
  </div>
  
  <%= f.label :pharmacy, class: "col-md-2 control-label" %>
  <div class="col-md-4">
  <%= f.text_field :pharmacy %>
  </div>
  
  <div class="col-md-12"> &nbsp; </div>

  <%= f.label :pharm_phone, class: "col-md-1 control-label" %>
  <div class="col-md-2">
  <%= f.phone_field :pharm_phone, value: number_to_phone(@patient.pharm_phone) %>
  </div>
  
  <%= f.label :'Alt Contact', class: "col-md-1 control-label" %>
  <div class="col-md-2">
  <%= f.text_field :alt_contact_name %>
  </div>

  <%= f.label :email, class: "col-md-1 control-label" %>
  <div class="col-md-2">
  <%= f.text_field :email %>
  </div>

  <div class="col-md-13"> &nbsp; </div>

  <div class="col-md-9">
  <%= f.submit "Create Patient's Record", class: "btn btn-primary" %>
  </div>

  </div>
</div>
<% end %>


