<b><%= link_to "Medications (#{@patient.med_count})<span class='caret'></span>".html_safe, '#', remote: true, 'data-bs-toggle': "collapse", 'data-bs-target': "#medications",  class: "drop-down-link" %> </b>
   <div class="collapse panel panel-info" id="medications">
      <div class="tbl patient-dropdown-panel-body">
         <table class="table table-hover table-striped table-bordered">
		 <th>Name</th><th>Date</th><th>Format</th><th>Route</th><th>Strength</th><th>Dose</th><th>Freq</th><th class="tbl_sm">Active</th><th></th>
            <% @patient.medications.each do |med| %> 
	    <%= form_with model: [@patient,med] do |f| %>
            <tr>
               <td><%= link_to "#{med.name}", patient_medication_path(@patient,med), remote: true, 'data-bs-toggle':  "modal", 'data-bs-target': '#modal-window' %></td>
               <td> <%= med.date %> </td> 
               <td> <%= med.format %> </td> 
               <td> <%= med.route %> </td> 
               <td> <%= med.strength %> </td>
               <td> <%= med.dose %> </td>
               <td> <%= med.freq %> </td>
               <% if current_user.patient? %>
                 <td> <%= med.active? ? 'Yes' :'No' %></td>
                 <td colspan=2></td>
               <% else %>
	         <td> <%= f.check_box :active, label: false, onchange: "this.form.submit();" %></td> 
                 <td> <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_patient_medication_path(@patient,med), remote: device_is_desktop?, 'data-bs-toggle':  "modal", 'data-bs-target': '#modal-window',  method: 'get', onclick: "set_lg_modal()"   %> </td>
                 <td><%= link_to '<i class="bi bi-x-square"></i>'.html_safe, patient_medication_path(@patient,med), method: :delete, data: { confirm: "Are you sure you want to delete #{med.name}?" } %></td>
               <% end %>
            </tr>
            <% end %>
          <% end %>
         </table>
      </div>
   </div>

