<% provide(:title, 'All patients') %>
<%= render 'shared/modal' %>

<%
    lname = (@sort == 'lname' && @direction == 'asc')?"Name &nbsp;&nbsp;<i class='glyphicon glyphicon-sort-by-alphabet'></i>":"Name &nbsp;&nbsp;<i class='glyphicon glyphicon-sort-by-alphabet-alt'></i>" 
    dob = (@sort == 'dob' && @direction == 'asc')?"DOB &nbsp;<i class='glyphicon glyphicon-sort-by-order-alt'></i>":"DOB &nbsp;<i class='glyphicon glyphicon-sort-by-order'></i>" 
%>

<table class="table table-hover table-striped table-bordered table-responsive"> 
  <thead>
      <tr>
          <th class="tbl_lmd"><%= sortable 'lname', lname.html_safe %></th>
          <th class="tbl_sm text-center">Gen</th>
          <th class="tbl_sm text-center">Age</th>
	  <th class="tbl_sm text-center">Type</th> 
          <th class="text-center">Phone</th>
          <th class="text-center">email</th>
      </tr>
  </thead>
  <tbody>

  <%= render @patients, cached: true %>

  </tbody>
</table>

<div class="bottom_buttons">
<% unless current_user.doctor? %>
<%= button_to "New Patient", new_patient_path, remote: device_is_desktop?, 'data-toggle':  "modal", 'data-target': '#modal-window', class: "btn btn-primary col-md-2", method: "get"  %>
<% end %>
</div>

<div class="bottom_nav my_pagination">
<%= will_paginate @patients, class: "btn" %> 
</div>


