     <tr>
	<td><%= link_to "#{patient.lname}, #{patient.fname}", patient %> </td>
	<td><%= patient.sex %></td> 
	<td><%= patient.dob %></td>
	<td><%= patient.ohip_num %> </td>
	<td><%= patient.phone %> </td> 
	<td><%= patient.addr %> </td> 
	<td><%= patient.city %> </td> 
	<td><%= patient.prov %> </td> 
	<td><%= patient.postal %> </td> 
     </tr>


<%#  <% if current_user.admin?  %>
<%#    | <%= link_to "delete", patient, method: :delete,
<%#                                  data: { confirm: "You sure?" } %>
<%#  <% end %>

