<!-- Visit panel on right hand side of patient profile -->
<div class="col-md-6">
    <h3>Visits: (<%= @patient.visits.count %>)</h3>
    <% if @patient.visits.any? %>
      <table class="table table-hover table-striped table-bordered">
  	  <thead>
	  <tr>
	    <th>Date</th>
            <th>Doctor</th>
	    <th>Diagnosis</th>
	    <th>Services</th>
	    <th class="tbl_sm">Meds Renewal?</th>
            <th class="text-center">Edit</th>
	    <th class="text-center">Cancel</th>
	  </tr>
	  <tbody>

        <%= render @visits, remote: true %>

          </tbody>
	</table>

	<div class="spacer-10"></div>
	<div class="row">
	  <div class="col-md-12"> <%= link_to "Print Visit History", visit_history_patient_path(@patient),  remote: device_is_desktop?, 'data-toggle':  "modal", 'data-target': '#modal-window', class: "btn btn-info", method: 'get', onclick: "set_lg_modal()" %> </div>
	</div>
	<div class="spacer-10"></div>
	<div class="row" style="float: right">
	<%= will_paginate @visits %>
        </div>

        <%= render "ai_chat" %>

        <div class='pt-5'>
        <%= render "google_biz_link" %>
        </div>
    <% end %>
  </div>
