<%= simple_form_for (@patient) do |f| %>
  <%= f.error_notification %>
  <%# render 'shared/error_messages', object: f.object %>
  
  <%= f.hidden_field :pat_type, value: HCP_PATIENT %>
  <%= f.hidden_field :country, value: 'Canada' %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :mname %>
  <%= f.hidden_field :maid_name %>
  <%= f.hidden_field :notes %>
  <%= f.hidden_field :hin_expiry %>
  <%= f.hidden_field :mobile %>
  <%= f.hidden_field :pharm_fax %>

<!-- Row 1 -->
<div class="row">
  <div class="col-md-3 col-xs-12">
     <%= f.input :lname, hint: 'Required'%>
  </div>

  <div class="col-md-3 col-xs-12">
  <%= f.input :fname %>
  </div>

  <div class="col-md-3 col-xs-6">
  <%= f.input :sex, collection: SEXES, hint: 'Required', label: 'Gender', include_blank: false %>
  </div>
  
  <div class="col-md-3 col-xs-6">
    <%= f.input :dob, as: :date, label: 'Born', start_year: 1915, end_year: Date.today.year, hint: 'Required', html5: true %>
  </div>
</div>  
  
<!-- Row 2 -->
<div class="row">
  <div class="col-md-2">
  <%= f.input :phone, as: :tel, label: 'Phone', value: num_to_phone(@patient.phone), hint: 'Required' %>
  </div>

  <div class="col-md-3" id="ohip_number">
  <%= f.input :ohip_num, label: 'Health Card Number', hint: 'Required ' %>
  </div>

  <div class="col-md-2" id="ohip_ver">
     <%= f.input :ohip_ver, label: 'Version Code', hint: "2 letters" %>
  </div>

  <div class="col-md-2" id="hin_prov" >
  <%= f.input :hin_prov, collection: PROVINCES, label: 'Card Province', include_blank: false %>
  </div>
  
  <div class="col-md-3">
  <%= f.input :family_dr, label: 'Family Doctor', collection: Doctor.all, hint:'Optional', label_method: :lname, value_method: :lname, prompt: 'Select' %>
  </div>
  
</div>
  
<!-- Row 3 -->
<div class="row">
  <div class="col-md-3">
  <%= f.input :pharmacy, label:'Preferred Pharmacy', hint: 'Optional' %>
  </div>
  
  <div class="col-md-3">
  <%= f.input :pharm_phone, as: :tel, label: 'Pharmacy Phone', value: num_to_phone(@patient.pharm_phone), hint: 'Optional' %>
  </div>
  
  <div class="col-md-6">
  <%= f.input :allergies, label: 'Allergies, if any', hint: 'Optional'  %>
  </div>
</div>
  

<!-- Row 4 -->
<div class="row" >
  <div class="col-md-12">
  <%= f.input :meds, label: 'Current medications, if any', hint: 'Optional'  %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12">
  <%= f.button :submit, 'Save Record', class: "btn btn-lg btn-primary" %>
  </div>
</div>

<% end %>

