<b><%= link_to "Spec. Reports (#{@patient.spec_reports.count})<span class='caret'></span>".html_safe, '#', remote: true, 'data-toggle': "collapse", 'data-target': "#spec_reports",  class: "drop-down-link" %> </b>
<div class="collapse panel panel-info" id="spec_reports">
  <div class="tbl patient-dropdown-panel-body">
     <table class="tbl2 table-hover table-striped table-bordered">
        <th></th><th>Date</th><th>From</th><th>File Name</th>
        <% @patient.spec_reports.each do |rep| %>
        <tr>
          <% if rep.exists? %>
          <td><%= link_to "Spec. Report #{rep.id}", patient_spec_report_path(@patient,rep), remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %> </td>
          <% else %>
          <td><%= link_to "Spec. Report #{rep.id}", patient_spec_report_path(@patient,rep) %> </td>
          <% end %>
          <td> <%= rep.date %> </td>
          <td> <%= rep.doctor.lname %> </td>
          <td> <%= rep.filename.file.basename rescue ''%> </td>
        </tr>
        <% end %>
     </table>
  </div>
</div>

