<% provide(:title, @patient.full_name) %>

	<h1><%= @patient.full_name %> :  Patient profile </h1>

<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
	   <pre class="pre-scrollable" >
	<b>Name:</b> <%= @patient.full_name %> <b>Type:</b> <%= PATIENT_TYPES.invert[@patient.pat_type] %>
	<b>DOB:</b> <%= @patient.dob %> : <%= @patient.age %> y/o  <%= @patient.sex %>
	<b>Health Card:</b> <%= @patient.ohip_num %> <%= @patient.ohip_ver %> (<%= @patient.hin_prov %>) <b>Expires:</b> <%= @patient.hin_expiry %>
	<b>Phone:</b> <%= num_to_phone(@patient.phone) %>  <b>Mobile:</b> <%= num_to_phone(@patient.mobile) %> <b>Email:</b> <%= mail_to @patient.email %>
	<b>Address:</b> <%= @patient.addr %>
		    <%= @patient.city %> <%= @patient.prov %> 
		    <%= @patient.postal %>
		    <%= @patient.country %>
        <% if !@patient.chart_file.blank? %>
	<b>Chart File:</b> <%= link_to 'Chart', chart_patient_path(@patient) %>
        <% end %>
	<b>Allergies</b>: <%= @patient.allergies %>
	<b>Medications</b>: <%= @patient.medications  %>
         </pre>
	 
	 <div class="panel panel-info">
	   <div class="panel-body">
		   <b>Notes:</b> <%= @patient.notes %>
	   </div>
	</div>
    </section>
    <section class="buttons">
    <%= button_to "New Visit", new_patient_visit_path(@patient), class:"btn btn-primary", method: 'get' %>
    <p>
    <%= button_to "Edit Patient", edit_patient_path(@patient), class:"btn btn-primary", method: 'get' %>
    <p>
    <%= button_to "Print Label", label_patient_path(@patient), class: "btn btn-primary", method: 'get'  %>

    </section>
  </aside>
  <div class="col-md-6">
    <h3>Visits: (<%= @patient.visits.count %>)</h3>
    <% if @patient.visits.any? %>
        <table class="tbl">
  	  <thead>
	  <tr>
	    <th class="tbl_xlg">Date</th>
	    <th class="tbl_lg">Doctor</th>
	    <th>Diagnosis</th>
	    <th class="tbl_xlg">Procedure(s)</th>
	    <th>Status</th>
	    <th>CabMD Ref#</th>
	  </tr>
	  <tbody>

        <%= render @visits %>

          </tbody>
	</table>
	<%= will_paginate @visits %> 
    <% end %>
  </div>
</div>


