<% provide(:title, @patient.full_name) %>

<% if device_is_desktop? %>
  <h2><%= @patient.full_name %> :  Patient Profile &nbsp; 
  <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_patient_path(@patient) %> <%#, remote: true, 'data-bs-toggle': "modal", 'data-bs-target': '#modal-window', onclick: "set_lg_modal()" %>
<% else %>
  <h2><%= @patient.full_name %>  
  <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_patient_path(@patient) %>
<% end %>
</h2>

  <%= render "#{current_user.role}_show" %>


