<% provide(:title, @patient.full_name) %>

<div>
<h1> Patient profile </h1>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
	   <pre>
	      Name: <%= @patient.lname %>,  <%= @patient.fname %>
	      DOB: <%= @patient.dob %> : <%= @patient.age %> y/o  <%= @patient.sex %>
	      Health Card: <%= @patient.ohip_num %> 
	      Phone: <%= @patient.phone %>
	      Last Visit: <%= @patient.last_visit_date %>
	      Addr: <%= @patient.addr %>
		    <%= @patient.city %> <%= @patient.prov %> 
		    <%= @patient.postal %>
		    <%= @patient.country %>
           </pre>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Visits: (<%= @patient.visits.count %>)</h3>
    <% if @patient.visits.any? %>
      <ol class="microposts">
        <%= render @visits %>
      </ol>
      <%= will_paginate @visits %>
    <% end %>
  </div>
</div>

</div>
