<% cl = nil;
   cl = 'table-warning' if (!visit.proc_code.present? || !visit.diag_code.present?) && !visit.cash? 
   pat = visit.patient 
   remote = device_is_desktop?
   cl = 'table-success' if visit.vis_type == 'TV' && !visit.ready?
%>

<%=   simple_form_for [pat,visit] do |f|  %>
  <tr class="<%= cl %>">
	<td>
	<% if visit.ready_to_bill? %>
		<a title="Ready To Bill"><i class="glyphicon glyphicon-ok-sign text-primary"></i></a>
  	<% elsif visit.assessed? %>
		<a title="Assessed"><i class="glyphicon glyphicon-ok-circle text-muted"></i></a>
        <% elsif visit.with_doctor? %>
	  	<a title="With Doctor"><i class="glyphicon glyphicon-question-sign text-text-muted"></i></a>
	<% elsif visit.billed_or_paid? %>
	  	<a title="Billed"><i class="glyphicon glyphicon-ok-sign text-success"></i></a>
	<% elsif visit.has_error? %>
		<a title="Error"><i class="glyphicon glyphicon-exclamation-sign text-danger"></i></a>
	<% elsif visit.cancelled? %>
		<a title="Cancelled"><i class="glyphicon glyphicon-minus-sign text-warning"></i></a>
	<% else %>
		<a title="Arrived"><i class="glyphicon glyphicon-question-sign text-warning"></i></a>
	<% end %>
	</td>
	<% if visit.date == @date %>
           <td><%= link_to visit.entry_ts.strftime("%H:%M"), patient_visit_path(pat,visit) %></td>
        <% else %>
           <td><%= link_to visit.entry_ts.strftime("%d-%b"), patient_visit_path(pat,visit) %></td>
        <% end %>
        
        <% if @date.today? %>
        <td class="text-center pt-3" >
        <% if visit.status < ASSESSED %>
        <%= f.input :room, collection: EXAM_ROOMS, label: false, include_blank: false, input_html: {onchange: 'this.form.submit();'} %>
        <% end %>
        </td>
        <% end %>

        <% if device_is_desktop? %>
	<td><%= visit.doctor.lname %></td>
        <% end %>
	<td><%= link_to pat.full_name, pat %></td>
	<td class='text-center'><%= pat.pat_type %></td>
	<td>
	<% if pat.pat_type == IFH_PATIENT %>
	   <b><%= pat.ifh_number %></b>
        <% else %>
	   <%= pat.ohip_num_full %>
        <% end %>
	</td>
        <td class="text-center"><%= pat.mobile_or_home_phone %></td>
        <td class='text-center'>
          <% if pat.email.present? %>
          <%= link_to 'email', "mailto:#{pat.email}" %>
          <% end %>
        </td>
	<td class="text-center"><%= visit.diag_scode %></td>
	<td><%= visit.proc_codes %></td>

	<% if device_is_desktop? %>
	<td>
	<% if visit.status == PAID && visit.claim_id.present? %>
	  <%= link_to visit.status_str, claim_url(visit.claim_id) %> 		
	<% else %>
	  <%= visit.status_str %>
	<% end %>
	</td>
	<% end %>
	  
	 <td class='text-center'><%= link_to '<i class="glyphicon glyphicon-credit-card"></i>'.html_safe, label_patient_path(pat), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window',  method: 'get', onclick: "set_md_modal()"  %></td>
	 <td class='text-center'><%= link_to '<i class="glyphicon glyphicon-file"></i>'.html_safe, visitform_patient_visit_path(pat,visit), remote: remote, 'data-toggle':  "modal", 'data-target': '#modal-window', method: 'get', onclick: "set_lg_modal()"  %></td>

	<!-- #modal-window is defined in index -->	
        <% if remote %>
          <td class='text-center'><%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_patient_visit_path(pat,visit), remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window', method: :get, onclick: "set_lg_modal()"  %></td>
        <% else %>
          <td class='text-center'><%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_patient_visit_path(pat,visit) %></td>
          <td class='text-center'><%= link_to '<i class="glyphicon glyphicon-record"></i>'.html_safe, addvoicenote_patient_visit_path(pat,visit) %> </td>
        <% end %>

        <td class='text-center'>
          <%= link_to '<i class="glyphicon glyphicon-remove-sign"></i>'.html_safe, cancel_patient_visit_path(pat, visit) %>
        </td>

</tr>
<% end %>
