<% pat = Patient.find(visit.patient_id) %>

<tr>
	<td><%= link_to visit.entry_ts.strftime("%H:%M"), patient_visit_path(pat,visit) %> </td>
	<td><%= visit.doctor.lname %></td>
	<td><%= link_to pat.full_name, pat %></td>
	<td><%= pat.ohip_num %></td>
	<td><%= pat.ohip_ver %></td>
	<td><%= visit.diag_code %></td>
	<td><%= visit.proc_codes %></td>
	<td><%= visit.all_units.join',' %></td>
	<td><%= visit.all_btypes_str.join',' %></td>
	<td><%= visit.status_str %></td>
	<td> <%= link_to "edit",  edit_patient_visit_path(pat,visit) %> </td>
		<td> <%= link_to "delete", patient_visit_path(pat,visit), method: :delete, data: { confirm: "Are you sure you want to delete visit #{visit.id} for patient #{pat.lname}?" } %> </td>
</tr>
