<% date = params[date] || Date.today %>
<% provide(:title, "Day Sheet for " + date.to_s  ) %>

<h1> Visits <%= date.to_s  %> (<%= @daysheet.count %>) </h1>

  <p>
<%= will_paginate(@daysheet, :renderer =>  WillPaginate::ActionView::LinkRenderer, class: 'pagination-sm') %>
<p>

<ul class="users">
<table style="width:1000px; padding: 10px;" >
  <thead>
      <tr>
          <th>Date</th>
	  <th>Patient</th>
 	  <th>Doctor</th>
          <th>Notes</th>
          <th>Diag Code</th>
          <th>Proc Code</th>
      </tr>
  </thead>
  <tbody>

  <% @daysheet.each do |v| %>
     <%= render 'visit', visit: v %>
     <%# render 'visits/visit', visit: v %>
  <% end %>

  </tbody>
</table>
</ul>
<p>
<%= will_paginate(@daysheet, :renderer =>  WillPaginate::ActionView::LinkRenderer, class: 'pagination-sm') %>
