<% date = params[:date]  || Date.today %>
<% date.to_date %>
<% provide(:title, "Day Sheet for " + date.to_s  ) %>
<% provide(:button_text, 'Save changes') %>

<% if @daysheet.count >0 %>
	<h1> Visits <%= date.to_s  %> (<%= @daysheet.count %>)  Current doctor : <%= current_doctor.lname rescue '' %> </h1> 

<ul class="users">
<table style="width:100%; padding: 10px;" >
  <thead>
  <col width="50">
  <col width="100">
  <col width="80">
  <col width="50">
  <col width="50">
  <col width="200">
      <tr>
          <th>Time</th>
	  <th>Patient</th>
 	  <th>Doctor</th>
          <th>Diagnosis</th>
          <th>Procedure(s)</th>
          <th>Notes</th>
      </tr>
  </thead>
  <tbody>

  <% @daysheet.each do |v| %>
     <%= render 'visit', visit: v %>
     <%# render 'visits/visit', visit: v %>
  <% end %>

     <tr><td>&nbsp;</td></tr>
  </tbody>
</table>
</ul>
<p>
<%= will_paginate(@daysheet) %>

<% end %>

<% if date.today? && !current_doctor %>
   <%= render 'set_doctor' %> 
<% end %>
