<% email = current_patient.email if current_patient.present? %>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<% form_class= device_is_mobile? ? 'reg-form-control' : '' %>

  <div class="card rounded-2xl mx-auto my-auto  bg-light devise-card-width">
  <div class='card-body'>
    <div class='card-title fs-5'>
      Log into my account
    </div>
    <div class='card-text'>
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email", value: email, class: form_class } %>
              
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password", class: form_class } %>
    <%# f.input :remember_me, as: :boolean, input_html: {style: 'width: 30px;' } %>
    <%= f.hidden_field :remember_me,  value: true %>

    <%= f.button :submit, "Log in", class: "btn btn-primary " %>

    </div>
  </div>
</div>
<% end %>
