<% email = current_patient.email if current_patient.present? %>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<% form_class= device_is_mobile? ? 'reg-form-control' : '' %>

<div class="card rounded-2xl mx-auto my-auto  bg-light devise-card-width ">
  
 <div class="card-header">
  <% if current_patient && current_patient.user && current_patient.user.confirmed_at %>
    <div class="fs-5"> Welcome back, <%= current_patient.fname %>! Please log in below </div>
  <% else %>
    <div class="fs-5"> Log In </div>
   <% end %>
 </div>

   <div class="card-body">
    <div class="mb-3">
        <%= f.input :email, required: false, autofocus: true, autocomplete: "email", value: email, class: form_class %>
    </div>

    <div class="mb-3">
        <%= f.input :password, required: false, autocomplete: "current-password", class: form_class  %>
    </div>

    <div class="mb-3">
      <%= f.input :remember_me, as: :boolean %>
    </div>

    <%= button_tag tupe: "submit", class: "btn btn-primary" do %>  <i class='bi-box-arrow-in-right'></i>  Login to book a visit <% end %>

<%= render "devise/shared/links" %>

   </div>

<% end %>
