     <tr>
	<td><%= link_to "#{doctor.lname}, #{doctor.fname}", doctor %> </td>
	<td><%= doctor.ph_type %></td> 
	<td><%= doctor.service %> </td> 
	<td><%= doctor.specialty %></td>
	<td><%= doctor.provider_no %> </td>
	<td><%= doctor.group_no %> </td> 
	<td><%= doctor.district %> </td> 
	<td><%= doctor.address %> </td> 
	<td><%= doctor.city %> </td> 
	<td><%= doctor.phone %> </td> 
	<td><%= doctor.email %> </td> 
     </tr>


<%#  <% if current_user.admin?  %>
<%#    | <%= link_to "delete", doctor, method: :delete,
<%#                                  data: { confirm: "You sure?" } %>
<%#  <% end %>

