<div class="well">
<% noedit ||= false %>
<%= simple_form_for(@doctor) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<div class="row">
  <div class="col-sm-3">
  <%= f.input :lname, label: 'Last Name' %>
  </div>

  <div class="col-sm-3">
  <%= f.input :fname, label: 'First Name' %>
  </div>
  
  <div class="col-sm-2">
  <%= f.input :ph_type, label: 'Type' %>
  </div>

  <div class="col-sm-2">
  <%= f.input :district %>
  </div>

  <div class="col-sm-2">
  <%= f.input :bills, collection: [['Yes', true], ['No', false]] %>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
  <%= f.input :cpso_num, label: 'CPSO Number' %>
  </div>

  <div class="col-sm-3">
  <%= f.input :provider_no %>
  </div>
  
  <div class="col-sm-2">
  <%= f.input :group_no %>
  </div>

  <div class="col-sm-2">
  <%= f.input :billing_num %>
  </div>

  <div class="col-sm-2">
  <%= f.input :licence_no %>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
  <%= f.input :specialty %>
  </div>
  
  <div class="col-sm-2">
  <%= f.input :percent_deduction, label: '% Deduction' %>
  </div>

  <div class="col-sm-4">
  <%= f.input :address %>
  </div>
  
  <div class="col-sm-3">
  <%= f.input :city %>
  </div>
</div>
  
<div class="row">
  <div class="col-sm-1">
  <%= f.input :prov, collection: PROVINCES %>
  </div>

  <div class="col-sm-2">
  <%= f.input :postal %>
  </div>
  
  <div class="col-sm-3">
  <%= f.input :phone, label: 'Office Number' %>
  </div>

  <div class="col-sm-3">
  <%= f.input :mobile, label: 'Mobile Number' %>
  </div>

  <div class="col-sm-3">
  <%= f.input :email %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
     <%= f.input :note, placeholder: 'Notes' %>
  </div>
</div>

<% unless noedit %>
<div class="row">
  <div class="col-sm-12">
     <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
</div>
<% end %>

<% end %>
</div>
