<div class="well">
<% noedit ||= false %>
<%= simple_form_for(@doctor) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<div class="row">
  <div class="col-sm-3">
  <%= f.input :lname, label: 'Last Name', hint: 'Required' %>
  </div>

  <div class="col-sm-3">
  <%= f.input :fname, label: 'First Name' %>
  </div>
  
  <div class="col-sm-2">
     <%= f.input :specialty, collection: SpecialtyCode.all, label_method: :specialty_with_code, value_method: :code, hint: 'Required', include_blank: 'Please Select' %>
  </div>

  <div class="col-sm-2">
  <%= f.input :district, collection: DistrictCode.all, label_method: :district_with_code, value_method: :code, include_blank: 'Please Select' %>
  </div>

  <div class="col-sm-2">
  <%= f.input :bills, collection: [['No', false], ['Yes', true]], include_blank: false %>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
  <%= f.input :cpso_num, label: 'CPSO Number' %>
  </div>

  <div class="col-sm-3">
  <%= f.input :provider_no, hint: 'Required' %>
  </div>
  
  <div class="col-sm-2">
  <%= f.input :group_no %>
  </div>

  <div class="col-sm-2">
  <%= f.input :wsib_num, label: 'WSIB Number' %>
  </div>

  <div class="col-sm-2">
  <%= f.input :licence_no %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2" id="percent_deduction">
  <%= f.input :percent_deduction, label: '% Deduction', hint: 'Required' %>
  </div>

  <div class="col-sm-6">
  <%= f.input :address %>
  </div>
  
  <div class="col-sm-3">
  <%= f.input :city %>
  </div>
  
  <div class="col-sm-1">
  <%= f.input :prov, collection: PROVINCES, include_blank: 'ON' %>
  </div>
</div>
  
<div class="row">

  <div class="col-sm-2">
  <%= f.input :postal %>
  </div>
  
  <div class="col-sm-2">
  <%= f.input :phone, label: 'Office Number' %>
  </div>

  <div class="col-sm-2">
  <%= f.input :mobile, label: 'Mobile Number' %>
  </div>

  <div class="col-sm-2">
  <%= f.input :fax %>
  </div>

 <div class="col-sm-2">
  <%= f.input :email %>
  </div>

  <div class="col-sm-2">
  <%= f.input :accepts_new_patients, collection: [['Yes', true], ['No', false]], label: 'New patients?', include_blank: false %>
  </div>

</div>

<div class="row">
  <div class="col-sm-12">
     <%= f.input :note, placeholder: 'Notes' %>
  </div>
</div>

<% unless noedit %>
<div class="row">
  <div class="col-sm-12">
     <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
</div>
<% end %>

<% end %>
</div>

<script>
$(document).ready(function () {
// Show % deduction text field for billing doctors
   var bills = $('select[name="doctor[bills]"]');
   (bills.val() == 'true' ) ? $('#percent_deduction').show() : $('#percent_deduction').hide();
   bills.change(function () {
     (bills.val() == 'true' ) ? $('#percent_deduction').show() : $('#percent_deduction').hide();
   });
});
	
</script>


