<li id="billing-<%= billing.id %>">

  <span class="billing">Diag. Code: <%= billing.diag_code %></span>
  <span class="billing">Proc Code: <%= billing.proc_code %></span>
  <span class="billing">Fee <%= billing.fee %></span>
  <span class="billing">Submitted: <%= billing.submit_ts %></span>
  <span class="billing">Status: <%= billing.status %></span>
</li>


