<tr>
	  <td><%= billing.pat_code %></td>
	  <td><%= billing.doc_code %></td>
	  <td><%= billing.visit_date %></td>
	  <td><%= billing.proc_code %></td>
	  <td><%= billing.proc_units %></td>
	  <td><%= billing.fee %></td>
	  <td><%= billing.diag_code %></td>
	  <td><%= billing.btype %></td>
	  <td><%= billing.status %></td>
	  <td><%= billing.submit_ts %></td>
	  <td><%= billing.amt_paid %></td>
	  <td><%= billing.paid_date %> </td>
	  <td><%= billing.mohref %> </td>
</tr>


