<%= form_for [@patient,@visit,@billing] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <pre>

                Patient :   <%= @patient.full_name %>
                Doctor :    <%= @visit.doctor.lname %>
                Duration : <%= @visit.duration %>
                Status: <%= @billing.status_str %>

  </pre>

  <%= f.label :Diagnosis, class: "col-md-4 control-label" %>
  <div class="col-md-6">
   <%= f.collection_select(:diag_code, Diagnosis.all.first(10), :code, :descr,{:prompt => 'Select'})  %>
  </div>
  
  <%= f.label :Procedure, class: "col-md-4 control-label" %>
  <div class="col-md-6">
   <%= f.collection_select(:proc_code, Procedure.all.first(10), :code, :descr, {:prompt => 'Select'})  %>
  </div>
  
  <%= f.label :Units, class: "col-md-4 control-label" %>
  <div class="col-md-6">
  <%= f.select(:proc_units, UNITS ) %>
  </div>

  <%= f.label :Type, class: "col-md-4 control-label" %>
  <div class="col-md-6">
  <%= f.select(:btype, BILLING_TYPES ) %>
  </div>

  <div class="col-md-10">
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>

<% end %>



<!--
	<script>
document.onkeypress = function(e) {
    e = e || window.event;
    var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
    // store it , in this example, i use localstorage
    if(localStorage.getItem("ohip_num") && localStorage.getItem("ohip_num") != 'null') {
        // append on every keypress
        localStorage.setItem("ohip_num", localStorage.getItem("ohip_num") + String.fromCharCode(charCode));
    } else {
        // remove localstorage if it takes 300 ms (you can set it)
        localStorage.setItem("ohip_num", String.fromCharCode(charCode));
        setTimeout(function() {
            localStorage.removeItem("ohip_num");
        }, 300);
    }
    // when reach on certain length within 300 ms, it is not typed by a human being
    if(localStorage.getItem("ohip_num").length == 8) {
        // do some validation
	    echo ("equals 8");
       // if(passedonvalidation){
            // do some action

       // }
    } else {
	    echo ("not 8")
    }
    }
	</script>

	-->
