<% provide(:title, 'All billing') %>
<% date = params[:date].to_date rescue Date.today %>

<table class="tbl2 table-hover table-striped table-bordered"> <!--class="table table-hover table-condensed" > -->
  <thead>
      <tr>
	  <th class="tbl_xs"></th>
          <% if date  %>
            <th class="tbl_lsm"><%= sortable 'entry_ts', :Time %></th>
          <% else %>
            <th class="tbl_md"><%= sortable 'entry_ts', :Date %></th>
          <%end %>

          <th class="tbl_md">
	  <% if @docs.present? && @docs.size > 1 %>	  
          <span class="dropdown" >
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><font color="white">Doctor<b class="caret"></b></font></a>
            <ul class="dropdown-menu">
              <li><%= link_to "All", params.permit(:date).merge(date: params[:date]) %></li>
	      <% @docs.each do | doc | %>
		<li><%= link_to doc.lname, params.permit(:doc_id,:date).merge(doc_id: doc.id, date: params[:date]) %> </li>
	      <% end %>
	    </ul>
	  </span>
  	  <% else %>
             Doctor
	  <% end %>
	  </th>

	  <th class="tbl_lmd">Patient</th>
	  <th class="tbl_sm">Type</th>
          <th class="tbl_md">Diagnosis</th>
	  <th class="tbl_lmd">Services</th>
          <th class="tbl_lsm">Insured</th>
          <th class="tbl_lsm">IFH</th>
          <th class="tbl_lsm">Cash</th>
          <th class="tbl_xmd">Ttl. Fee</th>
          <th class="tbl_md">Status</th>
	  <th class="tbl_md">Acc Ref#</th>
      </tr>
  </thead>
  <tbody>
	  <%= render partial: "visit", collection: @visits, locals: {date: date}, cached: true  %>
  </tbody>
</table>

<div class="row">
<div class="bottom_buttons ">
  <% if current_user.admin? %>
	 <%= button_to "Export Claim File (EDT)", billings_export_edt_path, class: "btn btn-success col-md-2", method: 'post', params: {date: date}  %>
	 <%= button_to "Send claims to Cab.md", billings_export_cabmd_path, class: "btn btn-primary col-md-2", method: 'post', params: {date: date}  %>
  <% elsif date == Date.today && @not_ready.blank? %>
      <% if BILLING_FORMAT == EDT_FORMAT || current_user.admin? %>
	 <%= button_to "Export Claim File (EDT)", billings_export_edt_path, class: "btn btn-success col-md-2", method: 'post', params: {date: date}  %>
	 <%= button_to "Send claims to Cab.md", billings_export_cabmd_path, class: "btn btn-primary col-md-2", method: 'post', params: {date: date}  %>
      <% elsif BILLING_FORMAT == CSV_FORMAT %>
	 <%= button_to "Export Claim File (CSV)", billings_export_csv_path, class: "btn btn-primary col-md-2", method: 'post', params: {date: date}  %>
      <% elsif BILLING_FORMAT == CABMD_FORMAT %>
	 <%= button_to "Send claims to Cab.md", billings_export_cabmd_path, class: "btn btn-primary col-md-2", method: 'post', params: {date: date}  %>
      <% end %>
  <% end %>

</div>

<div class="bottom_nav">
  <%= will_paginate @visits, class: "btn" %>
</div>
</div>

