<div class="well">
<%= simple_form_for [@patient,@spec_report],  :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <% doc_id = @spec_report.doctor_id %>

<div class="row">
  <div class="col-md-6">  
  <%= f.input :date, hint: 'Required', html5: true %>
  </div>
  <div class="col-md-6">   
    <%= f.input :doctor_id, collection: Doctor.all, alue_method: :id, label_method: :lname, label: "To Doctor", include_blank: 'Please Select' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">   
    <%= f.input :authenticity_token, as: :hidden, input_html: {value: form_authenticity_token} %>
    <%= f.input :filename,  hint: 'Required', label: 'Upload PDF', multiple: false %> <%#, input_html: {class: 'dropzone'}%>
  </div>
</div>

<div class="row">
  <div class="col-sm-12"> 
     <%= f.submit yield(:button_text), class: "btn btn-primary" %> 
  </div>
</div>

<% end %>
</div>


