     <tr>
        <% if form.filespec.present? && File.exists?(form.filespec) && device_is_desktop? %>
          <td><%= link_to form.name, form, remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %></td>
        <% else %>
          <td><%= form.name %></td>
  	<% end %>
	<td><%= form.descr %></td> 
	<td><%= form.ftype_str %></td> 
	<td><%= form.filename %></td> 
	<td><%= form.format_str %></td>
	<td><%= form.fillable_str %></td>
	<td><%= link_to '<i class="glyphicon glyphicon-download"></i>'.html_safe, download_form_path(form) %></td> 
	<% unless current_user.doctor? %>
	  <td><%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_form_path(form) %></td>
	<% end %>
	<% if current_user.admin?  %>
	   <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, form, method: :delete, data: { confirm: "Are you sure you want to delete #{form.name}?" } %>
        <% end %>
	</td>
     </tr>


