<%= form_for @procedure do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<div class="row">
  <div class="col-md-4 col-md-offset-1">

	  <%= f.label :Code %>
          <%= f.text_field :code %>
  
	  <%= f.label :type %>
          <%= f.text_field :ptype %>

	  <%= f.label :description %>
	  <%= f.text_field :descr %>

	  <%= f.label :provider_fee %>
	  <%= f.text_field :cost %>

	  <%= f.label 'Specialist Fee' %>
	  <%= f.text_field :spec_fee %>
	  
	  <%= f.label 'Assistant Fee' %>
	  <%= f.text_field :ass_fee %>
     
	  <%= f.label 'Anesthesiologist Fee' %>
	  <%= f.text_field :ana_fee %>
     
  </div>

  <div class="col-md-4 ">

	  <%= f.label :percent %>
	  <%= f.text_field :percent %>

	  <%= f.label :'Effective Date' %>
	  <%= f.date_field :eff_date %>

	  <%= f.label :'Term Date' %>
	  <%= f.date_field :term_date %>
	  
	  <%= f.label :units %>
	  <%= f.text_field :unit %>
	  
	  
    <div class="col-md-12"> &nbsp; </div>
    <div class="col-md-2">
          <%= f.label :faq %>
          <%= f.check_box :fac_req %>
    </div>

    <div class="col-md-2">
          <%= f.label :adm %>
          <%= f.check_box :adm_req %>
    </div>

    <div class="col-md-2">
          <%= f.label :diag %>
          <%= f.check_box :diag_req %>
    </div>

    <div class="col-md-2">
          <%= f.label :ref %>
          <%= f.check_box :ref_req %>
    </div>

    <div class="col-md-2">
          <%= f.label :active %>
          <%= f.check_box :active  %>
    </div>
  
  </div>
</div>

<div class="row"><div> &nbsp; </div> </div>
<div class="row">
    <div class="col-md-8 col-md-offset-1">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    </div>
</div>


<% end %>


