     <tr>
	<td><%= link_to "#{procedure.code}", procedure %> </td>
	<td><%= procedure.ptype %> </td> 
	<td><%= procedure.descr %></td> 
	<td><%= procedure.cost %></td> 
	<td><%= procedure.unit %></td> 
	<td><%= procedure.fac_req %></td> 
	<td><%= procedure.adm_req %></td> 
	<td><%= procedure.diag_req %></td> 
	<td><%= procedure.ref_req %></td> 
	<td><%= procedure.percent %></td> 
	<td><%= procedure.eff_date %></td> 
	<td><%= procedure.term_date %></td> 
     </tr>


<%#  <% if current_user.admin?  %>
<%#    | <%= link_to "delete", patient, method: :delete,
<%#                                  data: { confirm: "You sure?" } %>
<%#  <% end %>


