     <tr>
	<% if current_user.doctor? %>
	<td><%= link_to "#{procedure.code}", procedure %> </td>
	<% else %>
	<td><%= link_to "#{procedure.code}", edit_procedure_path(procedure) %> </td>
	<% end %>
	<td><%= procedure.ptype_str %> </td> 
	<td><%= procedure.descr %></td> 
	<td><%= procedure.cost %></td> 
	<td><%= procedure.unit %></td> 
	<td><%= procedure.diag_req %></td> 
	<td><%= procedure.ref_req %></td> 
	<td><%= procedure.eff_date %></td> 
	<td><%= procedure.active %></td> 
	<td>
	<% if current_user.admin?  %>
		<%= link_to "delete", procedure, method: :delete, data: { confirm: "Are you sure you want to delete procedure #{procedure.code}?" } %>
        <% end %>
	</td>
     </tr>


