<% provide(:title, 'All procedures') %>
<%= render "shared/modal", size: 'lg' %>

<table class="table table-hover table-striped table-bordered" >
  <thead>
      <tr>
	  <th><%= sortable 'code', 'Svc Code' %></th>
	  <th><%= sortable 'ptype', :Type %></th>
	  <th class="tbl_lg"> <%= sortable 'descr', :Description %> </th>
	  <th>Fee</th>
	  <th>Units</th>
	  <th class='tbl_md'>Diag req?</th>
	  <th class='tbl_md'>Ref. req?</th>
	  <th>Eff. Date</th>
	  <th class='tbl_sm'><%= sortable 'active' %></th>
	  <% unless current_user.doctor? %>
	  <th class="tbl_sm"></th>
	  <% end %>
	  <% if current_user.admin? %>
	  <th class='tbl_sm'></th>
	  <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @procedures, remote: device_is_desktop? %>

  </tbody>
</table>

<div class="row">
<div class="bottom_buttons ">
<% unless current_user.doctor? %>
<%= button_to "Add Procedure", new_procedure_path, class: "btn btn-primary col-md-2", :method => "get" %>
<% end %>
</div>

<div class="bottom_nav my_pagination">
<%= will_paginate @procedures, class: "btn" %>
</div>
