<% provide(:title, 'All Daily Charts') %>
<%= render "shared/modal", size: 'lg' %>

<table class="tbl table-hover"> <!-- pretty -->
  <thead>
      <tr>
          <th><%= sortable 'filename', :Chart %></th>
	  <th>Download</th>
          <th><%= sortable 'date', :date  %></th>
          <th>Pages</th>
      </tr>
  </thead>
  <tbody>

  <%= render @daily_charts %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @daily_charts, class: "btn" %>
<!--<# %= button_to "Add Daily Chart", new_daily_chart_path, class: "btn btn-primary col-md-12", :method => "get" %> -->
</div>

