<% provide(:title, 'All Daily Charts') %>
<%= render "shared/modal", size: 'lg' %>

<%= form_with url: daily_charts_index_path do |f| %>
  <div class="row form-control" style="height:40px">
    <div class="col-sm-3 col-md-1 col-md-offset-0">
	    <%= f.select :year, (Time.now.year-15..Time.now.year),
		options={prompt:'All years', selected: @year},
                html_options={onchange: 'this.form.submit();'}
	    %>
    </div>
    <div class="col-sm-4 col-md-2">
    <%= f.select :month, Date::MONTHNAMES[1..12], 
	options={prompt:'All months', selected: @month}, 
	html_options={onchange: 'this.form.submit();'} 
    %>
    </div>
    <div class="col-sm-5 col-md-9">
    &nbsp;
    </div>

  </div>
<% end %>

<table class="tbl2 table-hover table-striped table-bordered"> <!-- pretty -->
  <thead>
      <tr>
          <th><%= sortable 'filename', :Chart %></th>
          <th><%= sortable 'date', :date  %></th>
          <th>Pages</th>
	  <th>Size(M)</th>
	  <th>Created</th>
	  <th>Download</th>
      </tr>
  </thead>
  <tbody>

  <%= render @charts %>

  </tbody>
</table>

<div class="row">
<div class="bottom_nav">
<%= will_paginate @charts, params: {year: @year, month: @month}, class: "btn" %>
<!--<# %= button_to "Add Daily Chart", new_daily_chart_path, class: "btn btn-primary col-md-12", :method => "get" %> -->
</div>
</div>

