<%= form_for @report do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

<div class="row">
<div class="col-sm-2 col-sm-offset-4" >
  <%= f.label "Select Doctor" %>
    <%= f.collection_select(:doc_id, get_active_doctors, :id, :lname, prompt: 'All Active' ) %>
</div>
    
<div class="col-sm-2" >
  <%= f.label "Report type" %>
  <%= f.select :rtype, REPORT_TYPES, prompt: 'Select Type' %>
</div>

  <div class="col-sm-10"></div>

<div class="col-sm-2 col-sm-offset-4" id="sdate" style="display:none;">
  <%= f.label "Select Date" %>
  <%= f.date_field :sdate, class: 'datepicker' %>
</div>

  <div class="col-sm-10"></div>
<div class="col-sm-2 col-sm-offset-4" id="edate" style="display:none;">
  <%= f.label "To" %>
  <%= f.date_field :edate, class: 'datepicker' %>
</div>

  <div class="col-sm-10"></div>
<div class="col-sm-2 col-sm-offset-4" id="year" style="display:none;">
  <%= f.label "Year" %>
  <%= select_year Time.now, start_year: Time.now.year-10, end_year: Time.now.year %>
</div>

  <div class="col-sm-10"></div>
<div class="col-sm-2 col-sm-offset-3" id="month" style="display:none;">
  <%= f.label "Month" %>
  <%= select_month Time.now  %>
</div>

  <div class="col-sm-10"></div>
  <div class="col-sm-4 col-sm-offset-4">
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>

</div>
<% end %>

<script>
$(document).ready(function () {

    $('#new_report select[name="report[rtype]"]').change(function () {
	switch ( $('#new_report select[name="report[rtype]"]').val() ) {
		case "1":              	// Daily
			$('#edate').hide();
			$('#sdate').show();
			$('#year').hide();
			$('#month').hide();
		  	break;
		case "2":		// Monthly
			$('#edate').hide();
			$('#sdate').hide();
			$('#year').show();
			$('#month').show();
			break;
		case "3":		// Yearly
    			$('#edate').hide();
			$('#sdate').hide();
			$('#year').show();
			$('#month').hide();
			break;
		case "4":		// Date Range
		  	$('#edate').show();
			$('#sdate').show();
			$('#year').hide();
			$('#month').hide();
			break;
		case "5":		// All Time
    			$('#edate').hide();
    			$('#sdate').hide();
			$('#year').hide();
			$('#month').hide();
			break;
		}
			
    });
});

</script>
