    <tr>
	<td><%= link_to "#{report.name}", report %> </td>
	<td><%= report.doctor.lname rescue 'All' %> </td> 
	<td><%= REPORT_TYPES.invert[report.rtype] %></td> 
	<td><%= report.sdate %></td>
	<td><%= report.edate %></td>

  	<% if current_user.admin?  %>
		<td> <%= link_to "delete", report, method: :delete, data: { confirm: "Are you sure you want to delete #{report.name}?" } %> </td>
	<% end %>

     </tr>
