    <tr>
	<% if report.filespec.blank? %>
          <td><%= link_to report.id, report  %> </td>
 	<% else %>
          <td><%= link_to report.id, show_pdf_report_path(report), target: 'Form' %> </td>
  	<% end %>
	<td><%= REPORT_TYPES.invert[report.rtype] %></td>
	<td><%= report.doctor.lname rescue 'All' %> </td> 
	<td><%= REPORT_TFRAMES.invert[report.timeframe] %></td> 
	<td><%= report.sdate %></td>
	<td>
	<% if report.timeframe.present? && report.timeframe > DAILY_REPORT %>
	<%= report.edate %>
	<% end %>
	</td>
	<td><%= report.filename %></td>

  	<% if current_user.admin?  %>
		<td> <%= link_to "delete", report, method: :delete, data: { confirm: "Are you sure you want to delete #{report.name}?" } %> </td>
	<% end %>

     </tr>
