    <tr>
	<% if report.exists? && device_is_desktop? %>
	  <td><%= link_to report.id, report, remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %></td>
	<% else %>
	  <td><%= report.id %></td>
	<% end %>  
	<td><%= report.doctor.full_name rescue 'All' %> </td> 
	<td><%= report.name %> </td>

	<td><%= report.type_str %></td>
	<td><%= report.timeframe_str %></td> 
	
	<td>
	<% if report.timeframe == DAILY_REPORT %>
		<%= "#{report.sdate}" %>
	<% else %>
	   <%= "#{report.sdate} - #{report.edate}" %>
	<% end %>
	</td>

	<td><%= report.created_at %></td>
	
	<% if report.exists? %>
	  <td><%= link_to '<i class="glyphicon glyphicon-download"></i>'.html_safe, download_report_path(report)  %></td>
        <% else %> <!-- regenerate report -->
	  <td><%= link_to '<i class="glyphicon glyphicon-question-sign"></i>'.html_safe, download_report_path(report)  %></td>
  	<% end %>

  	<% if current_user.admin?  %>
	   <td> <%= link_to '<i class="glyphicon glyphicon-remove-sign"></i>'.html_safe, report, method: :delete, data: { confirm: "Are you sure you want to delete #{report.name}?" } %> </td>
	<% end %>

     </tr>
