<% patient = Patient.find(visit.patient_id) %>
<% doctor = Doctor.find(visit.doc_id) %>
<% diagnosis = Diagnosis.find_by(code: visit.diag_code) %>
<tr>
	<td><%= visit.entry_ts.strftime("%d/%m/%Y %H:%M") %></td>
	<td><%= visit.id %></td>
	<td><%= patient.full_name[0,20] %> </td>
	<td><%= patient.ohip_num_full %> </td>
	<td><%= visit.diag_code %></td>
	<td><%= visit.proc_codes %></td>
	<td><%= visit.bil_types %></td>
	<td><%= sprintf("%.2f",visit.total_fee) %></td>
	<td><%= visit.status_str %></td>
	<td><%= visit.entry_by %></td>

</tr>
