<% provide(:title, 'All Reports') %>

<%= render 'shared/modal' %>

<table class="tbl table-hover">  <!--table table-hover table-condensed" >  -->
  <thead>
      <tr>
	  <th><%= sortable 'id', '#' %></th>
	  <th><%= sortable 'doc_id', 'Doctor' %></th>
          <th>Report</th>
          <th>Link</th>
	  <th>Size(M) </th>
	  <th><%= sortable 'rtype', 'Type' %></th>
          <th>Timeframe</th>
	  <th><%= sortable 'sdate', 'Date' %></th>
	   <% if current_user.admin?  %>
          <th></th>
	  <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @reports %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @reports, class: "btn" %> 
<%= button_to "Create New Report", new_report_path, class: "btn btn-primary col-md-12 ", method: 'get'  %>
</div>
