<% provide(:title, @report.name) %>

<h1>Report <%= @report.name %>  </h1>

<div class="row justify-content-md-center">
    <div class="col-md-8 col-md-offset-2">
	   <pre>
	      Type:       <%= $report_types.invert[@report.rtype] %>
	      Doctor:     <%= @report.doctor.lname rescue 'All Active'%>
	      Start Date: <%= @report.sdate %>
	      End Date:   <%= @report.edate %>
	      Visits:     <%= @visits.count %>
	      Grand Total: <%= @total.round(2) %>
           </pre>

<table> <!--class="table table-hover table-condensed" > -->
  <thead>
      <tr>
          <th>Time</th>
          <th>Visit Id</th>
          <th>Patient</th>
          <th>OHIP#</th>
          <th>Diagnosis</th>
          <th>Procedure(s)</th>
          <th>Duration</th>
          <th>Ttl. Fee</th>
          <th>Status</th>
          <th>Entry By</th>
      </tr>
  </thead>
  <tbody>
          <%= render partial: "visit", collection: @visits %>
  </tbody>
</table>

    <%= will_paginate @visits %>

    <%= button_to "Back", reports_path, class: "btn btn-primary", :method => "get" %>
  </div>
</div>


