<% provide(:title, @report.name) %>

<p>
    <div class="col-md-11 col-md-offset-1">
	   <pre>
	      Report: <b><%= @report.name %> </b>

	      Type:       <%= REPORT_TFRAMES.invert[@report.timeframe] %>
	      Doctor:     <%= @report.doctor.lname rescue 'All Active'%>
	      Date:	  <%= @report.sdate %>
              <% if @report.timeframe > DAILY_REPORT %>
	      End Date:   <%= @report.edate %>
	      <% end %>
	      Total claims:     <%= @visits.count %>

	      Total Amount: <b>$<%= @total.round(2) %></b> Insured: <b>$<%= @insured.round(2) %></b> Uninsured: <b>$<%= @uninsured.round(2) %></b>
           </pre>

<% if @visits.present? %>
<table class="tbl table-hover" > <!--class="table table-hover table-condensed" > -->
  <thead>
      <tr>
	  <th><%= sortable 'entry_ts', :Date %></th>
          <th>Visit Id</th>
	  <th>Patient</th>
          <th>OHIP#</th>
	  <th><%= sortable 'diag_code', :Diagnosis %></th>
          <th>Procedure(s)</th>
	  <th><%= sortable 'bil_type', 'Bill.Type' %></th>
          <th>Ttl. Fee</th>
	  <th><%= sortable 'status', :Status %></th>
          <th>Entry By</th>
      </tr>
  </thead>
  <tbody>
          <%= render partial: "visit", collection: @visits %>
  </tbody>
</table>
<% end %>

<div class="bottom_buttons ">
    <%= will_paginate @visits, class: "btn" %>
    <% if @report.filespec.blank? %> 
       <%= button_to "Generate PDF", export_report_path, class: "btn btn-primary", :method => "get", formtarget: "Form" %>
    <% else %>
       <%= button_to "Show PDF", show_pdf_report_path, class: "btn btn-primary", :method => "get", formtarget: "Form" %>
    <% end %>
</div>

</div>
