<li class="dropdown nav-item">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b> </a>
<ul class="dropdown-menu">
 <li><%= link_to "Users", users_path %></li>
 <li class="divider"></li>
 <li><%= link_to "Export Files", export_files_path %> </li>
 <li><%= link_to "EDT Files", edt_files_path  %> </li> 
 <li><%= link_to "Budget", budget_path  %> </li> 
 <li><%= link_to "Visits This Cycle", billed_visits_path  %> </li> 
</ul>
</li>
