  <li><%= link_to "Dr. #{current_doctor.lname}", current_doctor  if current_doctor %> </li>
  <li style="width:40px">&nbsp;</li>
  <% if controller_name == 'daysheet' || controller_name == 'billings' %>
    <%= render 'layouts/date_select' %>
  <% elsif !%w(visits users static_pages password_resets).include?(controller_name) %>
    <%= render 'layouts/find' %>
  <% end %>
  <li class="<%= 'active' if controller_name == 'daysheet' %>"><%= link_to "Day Sheet", daysheet_path %></li>
  <%= render 'layouts/doc_billing' %>
  <%= render 'layouts/doc_docs' %>
  <%= render 'layouts/ref' %>
  <%= render 'layouts/forms' %>
