<footer>
  <small>
    <img src="/images/small_logo.png" width=35></img>
    The <a href="<%= project_url %>"><%= full_title %></a> project -  &copy; 2018 - All rights reserved
  </small>
  <nav>
    <ul>
      <small>
      <% if logged_in? %>
	<li>Logged in <%= current_user.role %>: <%= link_to "#{current_user.name}", edit_user_path(current_user.id) %></li>
      <% end %>
      <li style="width:40px">&nbsp;</li>
      <li><%= link_to "About", about_path, target: '_new' %></li>
      <li><%= link_to "Help", help_path, target: '_new' %></li>
      <li><%= link_to "Contact", contact_path, target: '_new' %></li>
      <li><%= link_to "News", news_path, target: '_new' %></li>
      <li><%= link_to "Terms", terms_path, target: '_new' %></li>
      <li><%= link_to "Privacy Policy", privacy_path, target: '_new' %></li>
      </small>
    </ul>
  </nav>
</footer>
