<footer>
  <small>
  <div class="container-flex mx-3">
    <div class="d-flex justify-content-between border-top">WalkIn EMR  -  &copy; <%= Date.today.year %>
    <div class="d-flex justify-content-end">
      <%= link_to "Contact", contact_path, target: '_new', class: "px-2" %>
      <%= link_to "Terms", terms_path, target: '_new', class: "px-2" %>
      <%= link_to "Privacy", privacy_path, target: '_new', class: "px-2"  %>
      <% if logged_in? %>
          <%= link_to "<i class='glyphicon glyphicon-log-out'></i> Logout".html_safe, destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </div>
  </small>
</footer>

