<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>  
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div id="header"> 
    <%= render 'layouts/navigation' %>
    </div>

   <div  class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
   </div>

   <div id="footer">
      <%= render 'layouts/footer'  %>
      <%= debug(params) %> <%#if DEBUG_FLAG > 0 %>
   </div>
  </body>
</html>
