<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/metatags' %>
    <%= render 'layouts/rails_default' %>  
    <link rel="icon"  href="/favicon.ico" sizes="16x16" />
  </head>

  <body>
  <%= render 'layouts/facebook_messenger' %>
  <div class="container">
    <%= render 'layouts/navigation' %>

   <div id="body">
      <%= render 'layouts/messages' %>
      <%= yield %>
   </div>
  </div>

   <div id="footer">
      <%= render 'layouts/footer'  %>
      <%# debug(params) if DEBUG_FLAG >0  %>
   </div>
  </body>
</html>
