<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/metatags' %>
    <%= render 'layouts/ads' %>
    <%= render 'layouts/rails_default' %>  
    <%= render "shared/modal" if device_is_desktop? %>
    <link rel="icon"  href="/favicon.ico" sizes="16x16" />
  </head>

  <body>
  <div class="container-fluid">
   <%= render 'layouts/navigation' %>
  
   <div id="body">
      <%= render 'layouts/messages' %>
      <%= yield %>
   </div>
  </div>

  <div class="footer navbar-fixed-bottom">
    <%= render "layouts/#{device_type}_footer"  %>
  <%# debug(params) if DEBUG_FLAG >0  %>
  </div>
  </body>
</html>

